html,
body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* COLORS*/
:root {
  --primary: #ff185b;
  --secondary: #080f62;
  --tertiary: #7e8192;
}

.primary {
  --color: var(--primary);
}

.secondary {
  --color: var(--secondary);
}

.tertiary {
  --color: var(--tertiary);
}

.text-color {
  color: var(--color);
}

/* BUTTONS */
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
  outline: none;

  font-size: 1.125rem;
}

.btn.primary.btn-fill {
  background-color: var(--color);
  color: #fff;
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--color);
}

/* LISTS */
ul {
  list-style: none;
  padding: 0;
}

/* TEXT */
.text-center {
  text-align: center;
}

/* POSITIONING */
.flex {
  display: flex;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.justifycontent-between {
  justify-content: space-between;
}

.flex.alignitems-center {
  align-items: center;
}

.grid {
  display: grid;
}

/* MARGINS */
.margin-0 {
  margin: 0;
}

.margin-1 {
  margin: 1rem;
}

.margin-0-auto {
  margin: 0 auto;
}

/* PADDINGS */
.padding-0 {
  padding: 0;
}

.padding-1 {
  padding: 1rem;
}

/* DISPLAY */

.none {
  display: none;
}

/* CONTAINER */

.container {
  width: 90%;
}

/* CARDS */
.card {
  padding: 1rem;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* HEADER */
header {
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
  height: 4rem;

  align-content: center;
}

nav .wrapper {
  display: flex;
  width: 87.5%;
  max-width: 90vw;
  margin: 0 auto;
  max-width: 90vw;
}

nav #logo img {
  width: 4rem;
  margin-top: 2rem;
}

nav ul {
  margin-left: auto;
}

nav ul li {
  color: var(--secondary) !important;
  
  position: relative;
  font-size: 1.25rem;
  letter-spacing: 0;
  flex-basis: 40%;
  cursor: pointer;
}

nav ul li:not(:last-child) {
  margin-right: 2rem;
}

nav ul li#link::after {
  content: '';
  width: 0;
  height: 0.15rem;
  left: 0;
  bottom: -0.25rem;
  background-color: var(--primary);
  border-radius: 0.25rem;
  position: absolute;
  transition: 0.25s ease;
}

nav ul li#link:hover::after {
  width: 100%;
}

nav ul li#link.active::after {
  width: 100%;
}

header #main {
  width: 75rem;
  max-width: 95vw;
  margin: 5rem auto;
}

header #main > div:first-of-type {
  width: 50rem;
}

header #main > div:first-of-type h1 {
  max-width: 80%;

  font-size: 3.6rem;
}

header #main > div:first-of-type p {
  font-size: 1.8rem;
}

header #main #objectives {
  width: 100%;
  margin-top: 3rem;

  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

header #main #objectives .card {
  flex-basis: 20%;
  cursor: pointer;
  
  padding-top: 2rem;
}

header #main #objectives .card img {
  margin-bottom: 0.5rem;
  height: 2.5rem;
}

header #main #objectives .card h2 {
  font-size: 2.25rem;
}

header #main #objectives .card p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 1rem 1rem;
}

/* FAQ */

#faq h1 {
  color: var(--secondary);
}

#faq-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
}

header #faq .faq-item {
  border: 2px solid var(--secondary);
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  padding: 0px 0 0px 20px;
  position: relative;
  color: var(--secondary);
  font-weight: 500;
  font-size: 24px;
  transition: all 1s ease-in-out;
}

header #faq .faq-item:target {
  line-height: 0;
  height: auto;
}


header #faq .faq-item span {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  line-height: 0;
}

header #faq .faq-item .faq-question {
  
}

header #faq .faq-item .faq-answer {
  color: #7e8192;
  font-size: 22px;
  line-height: 1.27;
  padding: 5px 5px 5px 5px;
}

/* MOBILE */
@media (max-width: 1200px) {
  header #main #objectives {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 860px) {
  header #main > div:first-of-type {
    max-width: 95%;
  }

  header #main #objectives {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    width: 80%;
  }
}

@media (max-width: 720px) {
  header #main #objectives {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
  }

  #faq-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  header #main #objectives {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
  }
}