<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/main.js"></script>
{{ partial "head/base" . }}
{{ partial "head/open_graph" . }}
{{ partial "head/twitter" .}}
{{ partial "head/webmaster" .}}
{{ partial "head/icons" .}}
{{ partial "head/includes" .}}
</head>

<body id="{{ if .IsHome }}home{{ else }}{{ .Slug }}{{ end }}">
    <input type="checkbox" id="expand">
    <nav>
        <ul>
            <li><label for="expand" id="expand-button"><span>&#9776;</span></label><a href="/">{{ partial "logo.html" }}</a></li>
            <li><a href="/">Home</a></li>
            <li><a {{ if eq .Slug "playground" }}class="active"{{ end }} href="/playground">Playground</a></li>
            <li><a {{ if eq .Slug "mentors" }}class="active"{{ end }} href="/mentors">Mentors</a></li>
        </ul>
    </nav>
