<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "head/base" . }}
    {{ partial "head/open_graph" . }}
    {{ partial "head/twitter" .}}
    {{ partial "head/webmaster" .}}
    {{ partial "head/icons" .}}
    {{ partial "head/includes" .}}
</head>

<body id="{{ if .IsHome }}home{{ else }}{{ .Slug }}{{ end }}">
    <input type="checkbox" id="expand">
    <nav>
        <ul>
            <li><label for="expand" id="expand-button"><div><span></span><span></span><span></span><span></span></div></label><a href="/">{{ partial "logo.html" }}</a></li>
            <li><a {{ if eq .Slug "about" }}class="active"{{ end }} href="/about">About</a></li>
            <li><a {{ if eq .Slug "programme" }}class="active"{{ end }} href="/programme">Programme</a></li>
            <li><a {{ if eq .Slug "mentors" }}class="active"{{ end }} href="/mentors">Mentors</a></li>
            <li><a {{ if eq .Slug "faq" }}class="active"{{ end }} href="/faq">FAQ</a></li>
            <li><a class="btn btn-red btn-red-full {{ if eq .Slug "apply" }}active{{ end }}" href="/apply">Apply</a></li>
        </ul>
    </nav>
    <div id="early-bird-bar">
        <div>
            <img src="/img/symbols/hand.png">Hey, hey! <strong>€90 early birds are available if you complete your application until April 1st.</strong><img src="/img/symbols/running-man.png" style="margin-right: 0.2em;"><img src="/img/symbols/running-man.png"> <a href="/apply" class="btn">Give me my early bird!</a><span>Nah, close this.</span>
        </div>
    </div>
