.faq {
 background-color: #121952;
}

.faq>div:first-child {
 text-align: center;
 color: #fff;
 padding: .5em 0;
 font-size: 3em;
}

.faq h2 {
 margin: 0;
}

.faq>div:nth-child(2) {
 /* display: flex; */
 flex-wrap: wrap;
 align-content: space-between;
 justify-content: space-between;
 column-count: 3;
 column-gap: 1em;
 padding: 1em;
}

.faq>div > div {
 margin-bottom: 1em;
 background-color: #FF3855;
 break-inside: avoid;
 break-before: avoid;
 color: #fff;
 padding: 2em;
}

.faq>div div:nth-child(odd) {
 background-color: #E3FD31;
 color: #212121;
}

.faq>div h3 {
 margin: -2em -2em 0 -2em;
 padding: 2em 2em 1em 2em;
 background-color: rgba(0, 0, 0, 0.05);
 , : 0 font-size: 1;
 font-size: 1em;
 zoom: 1.5;
 text-align: center;
}

.faq>div p {}
