* {
    box-sizing: border-box;
}

body {
    font: 1em/1.6 'Open Sans', sans-serif;
    color: #121952;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

nav {
    background-color: #00e5d4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: flex;
    align-items: center;
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 1.5em .5em;
    transition: .2s ease-in all;
    text-transform: uppercase;
    line-height: 1;
}

nav a:hover {
    color: #121952;
}

nav ul li:first-of-type {
    margin-right: auto;
}

nav ul li:first-of-type a {
    margin: 0;
    border: 0 !important;
    font-weight: normal;
    display: inherit;
    transition: none;
    font-size: 0;
}

nav ul li:last-child a {
    padding-right: 0;
}


/* CLASSES */

#heading {
    width: 100%;
    height: calc(100vh - 4em);
    text-align: center;
    position: relative;
    color: #fff;
    margin-top: 4em;
    background: url(https://static.pexels.com/photos/7097/people-coffee-tea-meeting.jpg) center center / cover;
}

#heading>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    #faqdth: 660px;
    margin: 0 auto;
}

#heading input {
    color: #00e5d4;
    border: 0;
    background: none;
    padding: 0 0 0.2em;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 2px solid #00e5d4;
    max-width: 10.5em;
}

#heading input:focus,
#heading input:hover {
    outline: 0;
}

#heading img {
    display: block;
    margin: 0 auto;
    max-width: 1.5em;
    margin-top: 8em;
    animation: 1s bounce infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0em);
    }
    75% {
        transform: translateY(1em);
    }
    100% {
        transform: translateY(0em);
    }
}

#heading h1 {
    margin-top: 0;
    font-size: 9vw;
    margin-bottom: .4em;
    position: relative;
    background: url('/img/square-logo.svg') no-repeat center center;
    background-size: contain;
    line-height: 1.25;
    padding: 1em 0;
}

@media (min-width: 1132px) {
    #heading h1 {
        font-size: 4.9em;
    }
}

#contacts>div,
#faq,
#heading>div {
    max-width: 635px;
    margin: 0 auto;
    width: 90%;
    padding: 1px 0;
}

#faq {
    padding-top: 4.15em;
}

#faq h2 {
    font-size: 5em;
    margin-top: 0;
}

#faq h3 {
    color: #ff3855;
    font-weight: lighter;
    font-size: 2.5em;
    margin: 2em 0 .4em;
}

#contacts {
    margin-top: 5em;
    background: #E3FD31;
    padding: 5em 0;
}

#contacts>div {
    display: flex;
}

#contacts>div>div {
    flex-basis: 50%;
}

#contacts h2 {
    font-size: 2.5em;
    margin: 0;
}

#contacts p {
    margin: 0;
}

#contacts a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 450px) {
    #contacts>div {
        flex-direction: column;
    }
    #contacts>div>div:last-child {
        margin-top: 2em;
    }
}

footer {
    font-weight: 600;
    text-align: center;
}

footer p {
    margin: 1.5em 0;
}
