* {
 box-sizing: border-box;
}

body {
 font-family: 'Open Sans', sans-serif;
 color: #212121;
}

nav {
 background-color: #fff;
 line-height: 5em;
}

nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 text-align: right;
}

nav ul li {
 display: inline-block;
 height: 5em;
}

nav a {
 display: block;
 text-decoration: none;
 color: inherit;
 padding: 0 .5em;
 font-weight: 600;
}

nav ul li:first-of-type {
 float: left;
}

nav ul li:last-child a {
 padding-right: 0;
}

nav img {
 max-height: 5em;
}


/* CLASSES */

.container {
 max-width: 960px;
 width: 90%;
 margin: 0 auto;
}

.text {
 max-width: 600px;
}

#heading {
 width: 100%;
 height: calc(100vh - 4em);
 text-align: center;
 background-color: #FF3855;
 position: relative;
 color: #fff;
}

#heading>div {
 position: relative;
 top: 50%;
 transform: translateY(-50%);
 width: 80%;
 margin: 0 auto;
}

#heading h1 {
 margin-top: 0;
 font-size: 8em;
 margin-bottom: .4em;
}


/* wanna know more about us form */

#email {
 position: relative;
 width: 70%;
 margin: 0 auto;
}

#heading input {
 padding: 0;
 text-align: left;
 border: 0;
 font-size: 1.5em;
 height: 70px;
 transition: width .4s ease-in-out;
 border-bottom: 2px solid white;
 background: transparent;
 color: #fff;
 width: 0px;
 z-index: 1;
}

#heading input.active {
 width: 40%;
 padding: 0px 8px;
}

#heading input:focus, #heading input:hover {
 outline: 0;
}

#heading #email span {
 position: absolute;
 text-align: center;
 vertical-align: bottom;
 font-size: 1.5em;
 line-height: 70px;
 top: 0;
 left: 0;
 width: 100%;
 height: auto;
 color: #ccc;
 margin: 0px 5px;
}

.hidden {
 display: none;
}
