http://localhost {
    gzip
    root static/

    upframe {
        db_user root
        db_pass root
        db_host 127.0.0.1
        db_name upframe

        smtp_user noreply@bitsn.me
        smtp_pass noreplytesteupframe
        smtp_host smtp.mailgun.org
        smtp_port 465
    }

    errors {
        log errors.log
        404 404.html
    }
}
