http://8df5v1s98d51vcxa4815scdx.dynip.sapo.pt,
http://localhost {
    gzip
    root ./main/
    internal /includes
    templates
    ext .html
    errors {
        log errors.log
        404 404.html
    }
}

http://fest.localhost {
    gzip
    root ./fest/
    internal /templates

    fest {
        db_user root
        db_pass root
        db_host 127.0.0.1
        db_name upframe

        # This are only test data/sandbox
        smtp_user postmaster@sandboxef86c8c0316d4b7f9b64d99db9adb2e1.mailgun.org
        smtp_pass 1310374930f9cc5368ead2bb8b1d2af1
        smtp_host smtp.mailgun.org
        smtp_port 465
    }

    errors {
        log errors.log
        404 404.html
    }
}
