http://8df5v1s98d51vcxa4815scdx.dynip.sapo.pt,
http://localhost {
    gzip
    root ./main/
    internal /includes
    templates
    ext .html
    errors {
        log errors.log
        404 404.html
    }
}

http://fest.localhost {
    gzip
    root ./fest/
    internal /templates

    fest {
        db_user root
        db_pass root
        db_host 127.0.0.1
        db_name upframe

        # This are only test data
        smtp_user noreply@bitsn.me
        smtp_pass noreplytesteupframe
        smtp_host smtp.mailgun.org
        smtp_port 465
    }

    errors {
        log errors.log
        404 404.html
    }
}
