{{ define "title" }}Admin | Upframe {{ end }}
{{ define "content" }}

<main role="main" class="container backend">
    <ul>
        <li><a href="/admin/promocodes">Promocodes</a></li>
        <li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/users">Users</a></li>
        <li><a href="/admin/products">Products</a></li>
    </ul>
</main>

{{ end }}
