{{ define "title" }}Orders &bull; Upframe {{ end }}
{{ define "content" }}
<main role="main" class="backend">
    <div id="table-toolbar">
        <h1>Orders</h1>
        <button id="edit">&#9998; Edit</button>
        <button id="add">&#65291; New</button>
    </div>

    <table id="orders">
        <thead>
            <tr>
                <th>#</th>
                <th>User ID</th>
                <th>Product ID</th>
                <th>Promocode ID</th>
                <th>Value</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        {{range $order := .Data}}
        <tr data-id="{{ $order.ID }}">
            <td data-name="ID">{{ $order.ID }}</td>
            <td data-name="UserID">{{ $order.UserID }}</td>
            <td data-name="ProductID">{{ $order.ProductID }}</td>
            <td data-name="PromocodeID">{{ if $order.PromocodeID.Valid }}{{ $order.PromocodeID.Int64 }}{{ else }}null{{ end }}</td>
            <td data-name="Value">{{ $order.Value }}</td>
            <td data-name="Status">{{ $order.Status }}</td>
            <td><button class="edit">&#9998;</button></td>
        </tr>
        {{ end }}
    </table>
</main>

<form method="POST" id="single-form"  data-link="/admin/orders">
    <h2><span id="new-text">New Order</span><span id="edit-text">Order #<span id="barID"></span></span><span id="expand">&#9660;</span></h2>

    <div>
        <input name="ID" id="ID" required readonly type="hidden" value="0">

        <div id="form-error"></div>

        <label for="UserID">User ID</label>
        <input name="UserID" id="UserID" required type="number" value="">

        <label for="ProductID">Product ID</label>
        <input name="ProductID" id="ProductID" required type="number" value="">

        <label for="PromocodeID">Promocode ID</label>
        <input name="PromocodeID" id="PromocodeID" type="number" value="">

        <label for="Value">Value</label>
        <input name="Value" id="Value" required type="text" value="">

        <label for="Status">Status</label>
        <input name="Status" id="Status" required type="text" value="">

        <label for="Deactivated">Disabled</label>
        <input name="Deactivated" id="Deactivated" type="checkbox">

        <button type="submit">Save</button>
    </div>
</form>

<script src="/js/backend.js"></script>
{{ end }}
