{{ define "title" }}Products &bull; Upframe {{ end }}
{{ define "content" }}
<main role="main" class="backend">
    <div id="table-toolbar">
        <h1>Products</h1>
        <button id="edit">&#9998; Edit</button>
        <button id="activate">&#9679; Activate</button>
        <button id="deactivate">&#9675; Deactivate</button>
        <button id="add">&#65291; New</button>
    </div>

    <table id="products">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Deactivated</th>
                <th></th>
            </tr>
        </thead>
        {{range $product := .Data.Items }}
        <tr data-id="{{ $product.ID }}">
            <td data-name="ID">{{ $product.ID }}</td>
            <td data-name="Name">{{ $product.Name }}</td>
            <td data-name="Description">{{ $product.Description }}</td>
            <td data-name="Price">{{ $product.Price }}</td>
            <td data-name="Picture">{{ $product.Picture }}</td>
            <td data-name="Deactivated"><input type="checkbox" disabled value="second_checkbox" {{ if $product.Deactivated }}checked{{ end }}></td>
            <td><button class="edit">&#9998;</button></td>
        </tr>
        {{ end }}
    </table>
    <div class="navigation">
        <a {{ if .Data.HasPrevious }}href="{{ .Data.LinkPrevious }}" ><button>Previous</button></a>{{ else }}><button disabled>Previous</button>{{ end }}</a>
        <a {{ if .Data.HasNext }}href="{{ .Data.LinkNext }}" ><button>Next</button></a>{{ else }}><button disabled>Next</button>{{ end }}</a>
    </div>
</main>

<form method="POST" id="single-form" class="floating-box"  data-link="/admin/products">
    <h2><span id="new-text">New Product</span><span id="edit-text">Product #<span id="barID"></span></span><span id="expand">&#9660;</span></h2>

    <div>
        <input name="ID" id="ID" required readonly type="number" value="">

        <div id="form-error"></div>

        <label for="Name">Name</label>
        <input name="Name" id="Name" required type="text" value="">

        <label for="Description">Description</label>
        <input name="Description" id="Description" required type="text" value="">

        <label for="Price">Price</label>
        <input name="Price" id="Price" required type="number" value="">

        <label for="Picture">Picture</label>
        <input name="Picture" id="Picture" required type="text" value="">

        <label for="Deactivated">Disabled</label>
        <input name="Deactivated" id="Deactivated" type="checkbox">

        <button type="submit">Save</button>
    </div>
</form>

<script src="/js/backend.js"></script>
{{ end }}
