{{ define "title" }}Promocodes &bull; Upframe{{ end }}
{{ define "content" }}
<main role="main" class="backend">
    <div id="table-toolbar">
        <h1>Promocodes</h1>
        <button id="edit">&#9998; Edit</button>
        <button id="activate">&#9679; Activate</button>
        <button id="deactivate">&#9675; Deactivate</button>
        <button id="add">&#65291; New</button>
    </div>

    <table id="promocodes">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Discount</th>
                <th>Expiration Date (UTC)</th>
                <th>Deactivated</th>
                <th></th>
            </tr>
        </thead>
        {{range $promocode := .Data}}
        <tr data-id="{{ $promocode.ID }}">
            <td data-name="ID">{{ $promocode.ID }}</td>
            <td data-name="Code">{{ $promocode.Code }}</td>
            <td data-name="Discount">{{ $promocode.Discount }}</td>
            <td data-name="Expires">{{ $promocode.Expires.Format "02 Jan 06 15:04 MST" }}</td>
            <td data-name="Deactivated"><input type="checkbox" disabled value="second_checkbox" {{ if $promocode.Deactivated }}checked{{ end }}></td>
            <td><button class="edit">&#9998;</button></td>
        </tr>
        {{ end }}
    </table>
</main>

<form method="POST" id="single-form" data-link="/admin/promocodes">
    <h2><span id="new-text">New Promocode</span><span id="edit-text">Promocode #<span id="barID"></span></span><span id="expand">&#9660;</span></h2>

    <div>
        <input name="ID" id="ID" required readonly type="number" value="0">

        <div id="form-error"></div>

        <label for="Code">Code</label>
        <input name="Code" id="Code" required type="text" value="">

        <label for="Discount">Discount</label>
        <input name="Discount" id="Discount" required type="number" value="">

        <label for="Expires">Expiration Date (UTC)</label>
        <input name="Expires" id="Expires" required type="datetime-local" value="">

        <input name="Deactivated" id="Deactivated" type="checkbox">
        <label for="Deactivated">Disabled</label>

        <button type="submit">Save</button>
    </div>
</form>

<script src="/js/backend.js"></script>
<script src="/js/vendor/smooth-scroll.js">smoothScroll.init();</script>
{{ end }}
