{{ define "title" }}Users | Upframe {{ end }}
{{ define "content" }}
<div class="container">
<h1>Users</h1>

<table id="users">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Invites</th>
            <th>Credit</th>
            <th>Confirmed</th>
            <th>Referral</th>
            <th>Referrer</th>
            <th>Admin</th>
            <th>Deactivated</th>
            <th></th>
        </tr>
    </thead>
    {{range $user := .Data}}
    <tr>
        <td data-name="ID">{{ $user.ID }}</td>
        <td data-name="FirstName">{{ $user.FirstName }}</td>
        <td data-name="LastName">{{ $user.LastName }}</td>
        <td data-name="Email">{{ $user.Email }}</td>
        <td data-name="Address">{{ $user.Address }}</td>
        <td data-name="Invites">{{ $user.Invites }}</td>
        <td data-name="Credit">{{ $user.Credit }}</td>
        <td data-name="Confirmed">{{ $user.Confirmed }}</td>
        <td data-name="Referral">{{ $user.Referral }}</td>
        <td data-name="Referrer">{{ $user.Referrer }}</td>
        <td data-name="Deactivated"><input type="checkbox" disabled value="second_checkbox" {{ if $user.Deactivated }}checked{{ end }}></td>
        <td><button class="btnEdit">&#9998;</button></td>
    </tr>
    {{ end }}
</table>
</div>

<form method="POST" id="single-form">
    <h1>User #<span id="barID"></span></h1>

    <div>
        <input name="ID" id="ID" required readonly type="hidden" value="">

        <label for="FirstName">First name</label>
        <input name="FirstName" id="FirstName" required type="text" value="">

        <label for="LastName">Last name</label>
        <input name="LastName" id="LastName" required type="text" value="">

        <label for="Email">Email</label>
        <input name="Email" id="Email" required type="email" value="">

        <label for="Address">Address</label>
        <input name="Address" id="Address" required type="text" value="">

        <label for="Invites">Invites</label>
        <input name="Invites" id="invites" required type="number" value="">

        <label for="Credit">Credit</label>
        <input name="Credit" id="Credit" required type="number" value="">

        <label for="Confirmed">Confirmed</label>
        <input name="Confirmed" id="Confirmed" required type="checkbox">

        <label for="Referral">Referral</label>
        <input name="Referral" id="Referral" readonly required type="text" value="">

        <label for="Referrer">Referrer</label>
        <input name="Referrer" id="Referrer" readonly required type="text" value="">

        <label for="Deactivated">Disabled</label>
        <input name="Deactivated" id="Deactivated" type="checkbox">

        <button type="submit">Save</button>
    </form>
</div>


<script src="/js/backend.js"></script>
{{ end }}
