{{ define "title" }}Users &bull; Upframe {{ end }}
{{ define "content" }}
<main role="main" class="backend">
    <div id="table-toolbar">
        <h1>Users</h1>
        <button id="edit">&#9998; Edit</button>
        <button id="activate">&#9679; Activate</button>
        <button id="deactivate">&#9675; Deactivate</button>
        <button id="add">&#65291; New</button>
    </div>

    <table id="users">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Invites</th>
                <th>Credit</th>
                <th>Confirmed</th>
                <th>Referral</th>
                <th>Referrer</th>
                <th>Admin</th>
                <th>Deactivated</th>
                <th></th>
            </tr>
        </thead>
        {{range $user := .Data}}
        <tr>
            <td data-name="ID">{{ $user.ID }}</td>
            <td data-name="FirstName">{{ $user.FirstName }}</td>
            <td data-name="LastName">{{ $user.LastName }}</td>
            <td data-name="Email">{{ $user.Email }}</td>
            <td data-name="Address">{{ if $user.Address.Valid }}{{ $user.Address.String }}{{ else }}null{{ end }}</td>
            <td data-name="Invites">{{ $user.Invites }}</td>
            <td data-name="Credit">{{ $user.Credit }}</td>
            <td data-name="Confirmed"><input type="checkbox" disabled value="second_checkbox" {{ if $user.Confirmed }}checked{{ end }}></td>
            <td>{{ $user.Referral }}</td> <!-- This is readyonly; at least for now. -->
            <td>{{ if $user.Referrer.Valid }}{{ $user.Referrer.Int64 }}{{ else }}null{{ end }}</td> <!-- This is readyonly; at least for now. -->
            <td data-name="Admin"><input type="checkbox" disabled value="second_checkbox" {{ if $user.Admin }}checked{{ end }}></td>
            <td data-name="Deactivated"><input type="checkbox" disabled value="second_checkbox" {{ if $user.Deactivated }}checked{{ end }}></td>
            <td><button class="edit">&#9998;</button></td>
        </tr>
        {{ end }}
    </table>
</main>

<form method="POST" id="single-form"  data-link="/admin/users">
    <h2><span id="new-text">New USer</span><span id="edit-text">User #<span id="barID"></span></span><span id="expand">&#9660;</span></h2>

    <div>
        <input name="ID" id="ID" required readonly type="number" value="0">

        <div id="form-error"></div>

        <label for="FirstName">First name</label>
        <input name="FirstName" id="FirstName" required type="text" value="">

        <label for="LastName">Last name</label>
        <input name="LastName" id="LastName" required type="text" value="">

        <label for="Email">Email</label>
        <input name="Email" id="Email" required type="email" value="">

        <label for="Address">Address</label>
        <input name="Address" id="Address" type="text" value="">

        <label for="Invites">Invites</label>
        <input name="Invites" id="invites" required type="number" value="0">

        <label for="Credit">Credit</label>
        <input name="Credit" id="Credit" required type="number" value="0">

        <input name="Confirmed" id="Confirmed" required type="checkbox">
        <label for="Confirmed">Confirmed</label>

        <input name="Admin" id="Admin" type="checkbox">
        <label for="Admin">Admin</label>

        <input name="Deactivated" id="Deactivated" type="checkbox">
        <label for="Deactivated">Disabled</label>

        <button type="submit">Save</button>
    </div>
</form>

<script src="/js/backend.js"></script>
{{ end }}
