* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    box-shadow: inset 0 -1px 0 #03A9F4;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.3;
    color: #030e2b;
}

::selection {
    background: #2555d3;
    color: #fff;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #2555d3;
    color: #fff;
    /* Gecko Browsers */
}

:root {
    --deep-blue: #050E2C;
    --medium-blue: #3C58FF;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    height: 4.5em;
    color: white;
}

nav * {
    margin: 0;
    padding: 0;
}

nav #logo {
    margin: 0;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 700;
}

nav a {
    box-shadow: none;
}

nav a:hover {
    color: inherit;
}

nav>a:first-of-type {
    font-weight: bold;
}

nav>a:first-of-type span {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    margin-left: 1em;
    display: inline-block;
}

nav ul li a {
    transition: all .2s ease-in-out;
    padding: 0.5em;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: var(--deep-blue);
    color: #fff;
}

nav ul li a.active {
    background: var(--medium-blue);
}

.home {
    background-color: var(--deep-blue);
    color: white;
}

.home main {
    width: 95%;
    max-width: 1200px;
    margin: 7em auto;
}

.home h1 {
    text-align: center;
    font-size: 5em;
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    max-width: 11em;
}

.home form {
    display: flex;
    margin: 10vh 5vw;
}

.home form input {
    height: 50px;
    flex-grow: 1;
    margin: 0 .25em .5em;
    outline: 0;
}

.home form input[type="text"],
.home form input[type="submit"] {
    width: 25%;
}

.home form input[type="email"] {
    width: 50%;
}

.home form input[type="text"],
.home form input[type="email"] {
    padding: 0 1em;
}

.home form input[type="submit"] {
    color: #FFFFFF;
    background-color: #3C58FF;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-align: center;
    transition: .4s ease background-color;
}

.home footer {
    display: none
}

@media (max-width: 930px) {
    .home form {
        flex-wrap: wrap;
    }
    .home form input[type="text"],
    .home form input[type="email"] {
        width: calc(50% - 1em);
    }
    .home form input[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .home form input[type="text"],
    .home form input[type="email"] {
        width: 100%;
    }
}

article li,
article p {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    line-height: 1.6;
}

.listing,
.pagination,
article .highlight>pre,
article>* {
    width: calc(100% - 64px);
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

article .highlight {
    max-width: 850px;
}

article>header {
    width: 100%;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    color: #fff;
    margin: -5em 0 2em 0;
    padding: 5em 0 0 0;
    z-index: -1;
}

article figure#banner img {
    margin: 0 auto;
    display: block;
}

article #banner {
    width: 100%;
    max-width: 100%;
    position: absolute;
    font-size: 0;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#banner img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#banner div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3C58FF;
    opacity: 0.3;
}

article header time {
    display: block;
    text-transform: uppercase;
    margin: 1em auto;
    font-size: .8em;
    color: rgba(255, 255, 255, 0.8)!important;
}

article header h1 {
    margin: 0 auto;
}

article header p {
    font-size: 1.3em;
    margin-top: -.5em;
    margin-bottom: 1.3em;
}

article ul,
article ol {
    padding-left: 3em;
}

article .highlight,
article p code,
article pre {
    background-color: #f8f8f8 !important;
}

article .highlight {
    padding: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

article p code {
    font-size: .8em;
    padding: .2em .5em;
}

article .video-player,
article figure.medium {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}

article figure img {
    width: 100%;
}

article figure figcaption {
    text-align: center;
    font-size: .8em;
    color: rgba(0, 0, 0, 0.6);
}

article .video-player.full,
article figure.full {
    max-width: 100%;
    margin: 2em 0;
    width: 100%;
}

article figure.small {
    width: 25em;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}

table th {
    font-weight: 600
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

table img {
    background-color: transparent
}

blockquote {
    margin: 1.5em auto;
    padding: 1em;
    text-align: center;
    color: #3C58FF;
    max-width: 1000px;
    font-size: 1.3em;
}

blockquote p {
    display: inline;
    font-weight: 300;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.video-player div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nextprev {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.2em 0 0;
    margin: 1.2em auto;
    justify-content: space-between;
    width: 100%;
}

.nextprev div {
    width: 47%;
}

.nextprev div:last-child {
    text-align: right;
}

.nextprev a {
    box-shadow: none;
}

.nextprev h4 {
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.nextprev span {
    margin-top: .5em;
    display: block;
    font-weight: normal;
}

.listing ul {
    margin: 0 auto;
    padding: 0;
    margin: 0;
    list-style: none;
}

.listing li a {
    display: flex;
    box-shadow: none;
    align-content: center;
    margin: 1em 0;
}

.listing li a * {
    margin: 0;
}

.listing li a time {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.3);
    width: 7em;
    text-align: right;
}

.pagination {
    display: flex;
    padding: .5em 0;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

.pagination>li {
    list-style: none;
    transition: .2s ease all;
    position: relative;
    margin: 0;
    color: #c1c1c1;
    font-size: 1.5em;
}

.pagination a {
    color: #4E4E4E;
    transition: .2s ease all;
}

.pagination>li>a:hover {
    color: #212121;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1.2em auto;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #535353;
}