* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    font: 1em/1.6 'Roboto', sans-serif;
    color: #4b5390;
    background: #fff;
    letter-spacing: 0.03em;
    overflow-x: hidden;
}

input {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input,
input:active,
input:focus,
input:hover,
textarea {
    outline: 0;
}

h1,
h3,
h4,
h5,
h6 {
    color: #121952;
    letter-spacing: 0.03em;
}

h2 {
    color: rgba(75, 83, 144, 1);
    letter-spacing: 0.03em;
}


/* * * * * * * * * *
 *                 *
 *  USER INTERFACE *
 *                 *
 * * * * * * * * * */


/* BUTTONS */

.btn {
    color: rgba(231, 231, 232, 1);
    padding: .4em 1.5em;
    transition: background .25s ease, color .25s ease, border-color .25s ease;
    border: .375em solid rgba(231, 231, 232, 1);
    text-align: center;
    position: relative;
    margin: 0;
    font-weight: 500;
    background: transparent;
    outline: 0;
    cursor: pointer;
    font-size: 1.125em;
    display: inline-block;
}

.btn:hover {
    background: #e7e7e8;
    color: #121952;
}

.btn-red {
    color: rgb(255, 56, 85) !important;
    border-color: rgb(255, 56, 85);
}

.btn-red:hover {
    background: rgb(255, 56, 85);
    color: #fff !important;
}

.btn-red-full {
    background: rgb(255, 56, 85);
    color: #fff !important;
}

.btn-red-full:hover {
    background: rgb(215, 29, 56);
    border-color: rgb(215, 29, 56);
}

.btn-blue {
    color: rgba(75, 83, 144, 1) !important;
    border-color: rgba(75, 83, 144, 1);
}

.btn-blue:hover {
    background: rgba(75, 83, 144, 1);
    color: #fff !important;
}

.btn-dark-blue {
    color: #121952 !important;
    border-color: #121952;
}

.btn-dark-blue:hover {
    background: #121952;
    color: #fff !important;
}

.btn-dark-blue-full {
    color: #fff !important;
    background-color: #121952;
}

.btn-dark-blue-full:hover {
    background-color: #03072e;
    border-color: #03072e;
}


/* * * * * * * * * *
 *                 *
 *     NAVBAR      *
 *                 *
 * * * * * * * * * */

#expand,
#expand-button {
    display: none;
}

#expand-button {
    margin-right: 1em;
    cursor: pointer;
}

#expand-button {
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 9999;
    cursor: pointer;
}

#expand-button div {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin: 0;
}

#expand-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #121952;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#expand-button span:nth-child(1) {
    top: 0px;
}

#expand-button span:nth-child(2),
#expand-button span:nth-child(3) {
    top: 9px;
}

#expand-button span:nth-child(4) {
    top: 18px;
}

#expand:checked~nav #expand-button span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#expand:checked~nav #expand-button span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#expand:checked~nav #expand-button span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#expand:checked~nav #expand-button span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: background .2s ease-in-out, transform .2s ease-in-out;
    height: 4.3em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

nav.scroll {
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 55em;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 1em;
    letter-spacing: 0.03em;
}

nav a {
    margin: 1.65em 1em;
    display: block;
    text-decoration: none;
    color: #121952;
    transition: .2s ease-in all;
    text-transform: uppercase;
    line-height: 1;
}

nav ul li:first-child a {
    margin-left: 0;
}

nav ul li:last-child a {
    margin-right: 0;
    font-size: 1em;
    margin-left: 1em;
}

nav ul li:first-of-type {
    margin-right: auto;
}

nav ul li:first-of-type a {
    margin: 0;
    border: 0 !important;
    font-weight: normal;
    display: inherit;
    transition: none;
}

nav ul a:hover svg path {
    fill: #ff3855 !important;
}

nav a:hover {
    color: #ff3855 !important;
}

nav a.active {
    color: #ff3855;
}

nav svg path {
    transition: .2s ease all;
    fill: #121952;
}

@media (max-width: 720px) {
    nav {
        transform: translateY(calc(-100% + 4.3em));
        height: auto;
    }
    #expand:checked~nav {
        transform: translateY(0);
    }
    nav ul {
        flex-direction: column-reverse;
    }
    #expand-button,
    nav li:first-of-type a {
        display: inline-block !important;
        vertical-align: middle;
    }
    nav li {
        width: 100%;
        text-align: left;
        padding: 1em 0 !important;
    }
    nav ul li:last-of-type a {
        margin-left: 0;
    }
    nav li a {
        margin: 0;
        padding: 0;
    }
}


/* NAVBARS */

#about nav:not(.scroll),
#apply nav:not(.scroll),
#home nav:not(.scroll),
#mentors nav:not(.scroll),
#programme nav:not(.scroll) {
    box-shadow: 0 0 0 0;
}

#programme nav:not(.scroll) {
    background: transparent;
}

#home nav:not(.scroll) {
    background: rgba(18, 25, 82, 1);
}

#mentors .big-header,
#mentors nav:not(.scroll) {
    background: rgb(49, 133, 252);
}

#about nav:not(.scroll),
#about .big-header,
#apply .big-header,
#apply nav:not(.scroll) {
    background: rgb(255, 56, 85);
}

#about nav:not(.scroll) svg path,
#apply nav:not(.scroll) svg path,
#programme nav:not(.scroll) svg path,
#home nav:not(.scroll) svg path,
#mentors nav:not(.scroll) svg path {
    fill: #fff;
}

#about nav:not(.scroll) #expand-button span,
#apply nav:not(.scroll) #expand-button span,
#programme nav:not(.scroll) #expand-button span,
#home nav:not(.scroll) #expand-button span,
#mentors nav:not(.scroll)#expand-button span {
    background-color: #fff;
}

#about nav:not(.scroll) a,
#apply nav:not(.scroll) a,
#programme nav:not(.scroll) a,
#home nav:not(.scroll) a,
#mentors nav:not(.scroll) a {
    color: #fff;
}

#about nav:not(.scroll) a:hover,
#mentors nav .active {
    color: rgb(18, 25, 82) !important;
}

#about nav:not(.scroll) a:hover svg path {
    fill: #121952 !important;
}


/* * * * * * * * * * *
 *                   *
 *  Page: HOME       *
 *  Section: 1       *
 *                   *
 * * * * * * * * * * */

#home header {
    background: rgba(18, 25, 82, 1);
    height: 100vh;
    padding-top: 4.3em;
    color: #fff;
    text-align: center;
    position: relative;
}

@media (max-width: 400px) {
    #home .btn {
        width: 100%;
        margin: 0 0 1em 0;
        display: block;
    }
}

#home header>div:first-child {
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 7.5em);
    padding: 8vh 0 0;
}

#home header>div:first-child>p {
    max-width: 30em;
    margin: 7vh auto;
    font-size: 1.125em;
    width: 95%;
}

#home header>div div:first-of-type {
    display: flex;
    margin: 0 auto;
    max-width: 63em;
    width: 95%;
    align-items: center;
}

#home header>divdiv:first-of-type img:first-of-type {
    max-height: 13em;
}

#home header>divdiv:first-of-type img:last-of-type {
    max-height: 11em;
}

#big-phrase {
    font-size: 5.5em;
    line-height: 1;
    max-width: 7.5em;
    margin: 0;
    font-weight: bold;
    position: relative;
    flex-grow: 1;
}

@media (max-width: 1100px) {
    #big-phrase {
        font-size: 15vw;
        width: 84%;
    }
}

#home header #home header .btn {
    font-size: 1.125em;
}

#home header .btn:first-of-type {
    margin-right: 2em;
}

#scroll {
    font-size: 0.625em;
    width: 100%;
}

#scroll p {
    margin: .1em 0 0;
}

@media (max-width: 750px) {
    #home header>div div:first-of-type {
        /* flex-direction: column; */
    }
    #home header>div div:first-of-type img {
        /* display: none; */
        max-width: 4em;
        width: 100%;
    }
    #home header>div div:last-of-type {
        margin-top: 0em;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: HOME       *
 *  Section: 2       *
 *                   *
 * * * * * * * * * * */

#how-we-do-it,
#our-programme,
#our-mentors,
#are-you-ready {
    margin: 8em auto;
}

#how-we-do-it h1 {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
}

#how-we-do-it>p {
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto 5em;
    max-width: 90%;
}

#how-we-do-it>div {
    display: flex;
    max-width: 70em;
    width: 90%;
    margin: 0 auto 6.3125em auto;
    justify-content: space-between;
}

#how-we-do-it>div div {
    flex-grow: 0;
    flex-basis: 30%;
}

#how-we-do-it img {
    height: 1.875em;
    width: 1.875em;
    margin: auto;
    display: block;
}

#how-we-do-it h2 {
    margin: 1em auto;
    text-align: center;
}

#how-we-do-it>div p {
    text-align: center;
    letter-spacing: 0.03em;
}

@media (max-width: 750px) {
    #how-we-do-it>div {
        flex-direction: column;
    }
    #how-we-do-it>div div {
        margin-top: 3em;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: HOME       *
 *  Section: 3       *
 *                   *
 * * * * * * * * * * */

#our-mentors,
#our-programme {
    max-width: 62em;
    width: 90%;
    display: flex;
    align-items: flex-start;
}

#our-mentors div,
#our-programme div {
    flex-grow: 1;
}

#our-mentors h3,
#our-programme h3 {
    color: #4b5390;
    font-size: 1.375em;
}

#our-mentors>div:last-of-type,
#our-programme>div:first-of-type {
    flex-basis: 80%;
}

#our-programme>div:first-of-type {
    margin-right: 4em;
}

#our-mentors>div:last-of-type {
    margin-left: 4em;
}

#our-mentors h1,
#our-programme h1 {
    font-size: 3em;
    margin: 0 auto 1em auto;
    position: relative;
}

#our-mentors h1::after,
#our-programme h1::after {
    content: "";
    width: 1.5em;
    height: 0.125em;
    background: rgba(0, 229, 212, 1);
    position: absolute;
    bottom: 0;
    left: 0;
}

#our-mentors p,
#our-programme p {
    margin: 0 auto 3em auto;
    padding-right: 1em;
    text-align: left;
}

#our-mentors div:first-of-type {
    max-width: 60em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#our-mentors img {
    width: calc(50% - .5em);
    object-fit: contain;
    margin-bottom: 1em;
    display: inline-block;
}

#our-mentors img,
#our-programme img {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 980px) {
    #our-programme img {
        max-width: 30vw;
    }
}

@media (max-width: 750px) {
    #our-programme {
        flex-direction: column;
    }
    #our-programme img {
        width: 100%;
        max-width: 100%;
    }
    #our-mentors div:first-of-type,
    #our-programme img {
        margin-top: 2em;
    }
    #our-programme>div:first-of-type {
        margin-right: 0;
    }
    #our-mentors {
        flex-direction: column-reverse;
    }
    #our-mentors>div:last-of-type {
        margin-left: 0;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: HOME       *
 *  Section: 5       *
 *                   *
 * * * * * * * * * * */

#are-you-ready>div {
    max-width: 90vw;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#are-you-ready>div div:first-of-type {
    margin: auto;
    width: 100%;
    display: flex;
}

#are-you-ready>div div:first-of-type img {
    flex-grow: 1;
}

#are-you-ready>div div:last-of-type {
    margin: auto;
    text-align: center;
}

#are-you-ready>div div:last-of-type h1 {
    font-size: 3.125em;
    margin-bottom: 0.25em;
}

#are-you-ready>div div:last-of-type a.btn {
    margin: 1em auto 0.5em auto;
}

#are-you-ready>div div:last-of-type span {
    display: block;
    color: rgba(206, 206, 206, 1);
    font-size: .8em;
}

@media (max-width: 750px) {
    #are-you-ready>div div:first-of-type img {
        display: none;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: HOME       *
 *  Section: 6       *
 *                   *
 * * * * * * * * * * */

.grey-bar-logos {
    background-color: rgba(242, 242, 242, 1);
    padding: 1px 0;
}

.grey-bar-logos div {
    max-width: 90vw;
    width: 80%;
    text-align: center;
    margin: 4em auto;
}

.grey-bar-logos div p {
    padding: 0;
    color: rgba(192, 192, 192, 1);
    margin: 0 0 1.5em;
    font-weight: 500;
}

.grey-bar-logos img {
    margin: 1em 1em 1em;
    display: inline-block;
    height: 50px;
}

.grey-bar-logos img.empreendedor {
    margin-bottom: .4em;
}

#our-partners div p img {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    margin: 0;
}

#featured-on div,
#mentors-companies div {
    margin: 2.25em auto 1.25em;
}


/* * * * * * * * * * *
 *                   *
 *  Page: MENTORS    *
 *  Section: 1       *
 *                   *
 * * * * * * * * * * */

.big-header {
    background: rgba(18, 25, 82, 1);
    position: relative;
    padding: 11em 0;
}

.big-header.with-grey-bar {
    height: calc(100vh - 11.3em);
    padding: 0;
}

.big-header p {
    color: #fff;
    max-width: 12em;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 4.5em;
    font-weight: 500;
    line-height: 1.3;
}

.big-header.with-grey-bar p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 950px) {
    .big-header p {
        font-size: 9vw;
    }
}

#mentors header>div:last-of-type {
    text-align: center;
    line-height: 1;
    font-weight: bold;
    padding: 9em 0 3.688em;
}

#mentors header h1 {
    font-size: 3.125em;
    margin: 0;
}

#talk-applications>p:first-of-type,
#mentors header>div:last-of-type p {
    font-size: 1.375em;
    color: rgba(75, 83, 144, 1);
    margin: 1.389em auto 0;
    width: 90%;
}

#curious,
#shape-your-future,
#learn-from-experts {
    max-width: 37em;
    width: 90%;
    margin: 8em auto;
    text-align: center;
}

#curious h2,
#talk-applications h2,
#shape-your-future h2,
#learn-from-experts h2 {
    font-size: 3.125em;
    font-weight: bold;
    color: rgba(18, 25, 82, 1);
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

#shape-your-future p,
#learn-from-experts p {
    font-size: 1.125em;
    font-weight: bold;
    color: rgba(75, 83, 144, 1);
    margin: 1.278em auto 2.111em;
    text-align: center;
}

#curious .btn:first-of-type,
#shape-your-future .btn:first-of-type,
#learn-from-experts .btn:first-of-type {
    margin-right: 1em;
}

#curious h2 {
    margin-bottom: 1em;
}

@media (max-width: 500px) {
    #curious .btn,
    #shape-your-future .btn,
    #learn-from-experts .btn {
        display: block;
    }
    #curious .btn:first-of-type,
    #shape-your-future .btn:first-of-type,
    #learn-from-experts .btn:first-of-type {
        margin: 0 0 1em;
    }
}

#mentors-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 57.5em;
    text-align: center;
    padding: 0;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}

#mentors-container .mentor {
    flex-basis: 30%;
    margin-bottom: 4em;
}

@media (max-width: 700px) {
    #mentors-container .mentor {
        flex-basis: 48%;
    }
}

@media (max-width: 400px) {
    #mentors-container .mentor {
        flex-basis: 100%;
    }
}

#mentors-container .mentor img {
    transition: all .5s ease;
    margin: 0 0 0.8em;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#mentors-container .mentor img:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#mentors-container .mentor img:hover p {
    text-decoration: underline;
}

#mentors-container .mentor .name {
    font-size: 1.25em;
    font-weight: bold;
    color: rgba(75, 83, 144, 1);
    text-align: center;
    margin: 0;
    line-height: 1;
}

.mentor .line {
    color: rgba(75, 83, 144, 1);
    margin: .4em 0 0 0;
}

#mentors-container .mentor .role {
    margin: 0;
    color: rgba(18, 25, 82, 0.6);
    text-transform: uppercase;
    font-size: 0.8em;
}

#mentors-container .mentor .description,
#mentors-container .mentor .job,
.mentor .role {
    display: none;
}


/* MENTORS POPUP */

#mentors .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    opacity: 0;
    transition: .2s ease-in-out opacity;
}

#mentors .overlay.active {
    z-index: 1000;
    opacity: 1;
}

.mentor-popup {
    transition: .2s ease-in-out all;
    position: fixed;
    display: flex;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    max-width: 50em;
    overflow: auto;
    width: 95%;
    max-height: 95%;
    z-index: -1000;
    background-color: #fff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 2.5em;
    justify-content: space-around;
}

.mentor-popup.active {
    z-index: 1001;
    transform: translate(-50%, -50%) scale(1);
}

.mentor-popup>div:nth-child(1) {
    width: 40%;
    color: rgba(18, 25, 82, 0.6);
    flex-direction: column;
    display: flex;
    margin-right: 2em;
}

.mentor-popup>div:nth-child(2) {
    width: 60%;
}

.mentor-popup .close-icon {
    height: 1.25em;
    width: 1.25em;
    top: 1em;
    right: 1em;
    position: fixed;
}

.mentor-popup .close-icon:hover {
    cursor: pointer;
}

.mentor-popup .name,
.mentor-popup .job {
    color: #121952;
    font-weight: 600;
}

.mentor-popup .name {
    font-size: 1.25em;
    line-height: 1.2;
}

.mentor-popup img {
    margin-bottom: .8em;
}

.mentor-popup .worksat {
    margin-top: auto;
}

.mentor-popup div:nth-child(2) h2 {
    margin-top: 0;
    font-size: 3.125em;
    font-weight: 600;
    color: rgba(18, 25, 82, 0.15);
    line-height: 1;
}

.mentor-popup p {
    margin: 0;
}

.mentor-popup .role {
    font-size: .813em;
    letter-spacing: 1.1px;
    color: rgba(18, 25, 82, 0.6);
    text-transform: uppercase;
    margin-bottom: 5em;
}

.mentor-popup .description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.63;
    letter-spacing: 0.4px;
    margin-bottom: 1em;
}

@media (max-width: 450px) {
    .mentor-popup {
        display: block;
    }
    .mentor-popup>div:nth-child(1),
    .mentor-popup>div:nth-child(2) {
        width: 100%;
    }
    .mentor-popup>div:nth-child(1) {
        margin-bottom: 1em;
    }
    .mentor-popup .role {
        margin-bottom: 1em;
    }
}


/* Newsletter */

#newsletter {
    background: rgba(227, 253, 49, 1);
    text-align: center;
    padding: 7.8em 0;
}

#newsletter h2 {
    font-size: 3.125em;
    font-weight: bold;
    color: rgba(18, 25, 82, 1);
    line-height: 1;
    margin: 0 0 0.520em;
}

#newsletter p {
    font-size: 1.125em;
    font-weight: bold;
    color: #4b5390;
    margin: 0 0 2.444em;
}

#newsletter form {
    max-width: 32em;
    width: 92%;
    margin: 0 auto;
}

#newsletter form * {
    display: block;
}

#newsletter form>div {
    margin: 0;
}

#newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 1em;
}

#newsletter .writing input[type="email"],
#newsletter form input[type="email"]:hover,
#newsletter form input[type="email"]:focus {
    border-color: #ff3855 !important;
    color: #ff3855;
    outline: 0;
}


/* * * * * * * * * * *
 *                   *
 *  Page: PROGRAMME  *
 *  Section: 2       *
 *                   *
 * * * * * * * * * * */

#programme .big-header {
 background: radial-gradient(ellipse at center, #1f2978 0%,#121952 100%);;
}

#programme main>p:first-of-type {
    font-size: 1.375em;
    text-align: center;
    max-width: 20em;
    width: 90%;
    margin: 4.591em auto 3.636em;
}

#value-preposition {
    max-width: 60em;
    width: 90%;
    margin: auto auto 10em auto;
    text-align: left;
}

#value-preposition>div {
    display: flex;
    margin: 5em auto;
}

#value-preposition>div:nth-of-type(2n) {
    flex-direction: row-reverse;
}

#value-preposition>div div {
    flex-basis: 50%;
}

#value-preposition > div div:last-of-type {
    text-align: center;
}

#value-preposition img {
    height: 100%;
}

#value-preposition h1 {
    color: rgba(75, 83, 144, 1) !important;
    font-size: 1.875em;
}

#value-preposition p {
    color: rgba(75, 83, 144, 1) !important;
    font-size: 1.125em;
}

@media (max-width: 650px) {
    #value-preposition>div {
        flex-direction: column !important;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: PROGRAMME  *
 *  Section: 3       *
 *                   *
 * * * * * * * * * * */

#calendar {
    background: rgba(18, 25, 82, 1);
    width: 100vw;
    padding: 6em 0;
}

#calendar p {
    color: white;
    font-size: 0.875em;
    text-align: center;
    margin: 1em auto;
    width: 90%;
}

#calendar h1 {
    color: white;
    text-align: center;
    font-size: 3.125em;
    margin: .67em auto;
    width: 90%;
}

#date-sequence {
    max-width: 50em;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

#date-sequence span {
    display: block;
}

#date-sequence div:nth-of-type(odd) {
    flex-basis: 33%;
    position: relative;
}

#date-sequence div:nth-of-type(2n) {
    width: 10%;
    height: 2px;
    background: #4b5390;
    margin-right: 2em;
}

#date-sequence>div span:nth-of-type(1) {
    font-size: 1em;
    color: white;
}

#date-sequence>div span:nth-of-type(2) {
    font-size: 1.125em;
    color: white;
}

#date-sequence>div span:nth-of-type(3) {
    font-size: 1em;
    color: rgba(75, 83, 144, 1);
}

#board {
    margin: 5em auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    max-width: 87em;
    width: 90%;
}

#board div img {
    flex-basis: 13%;
}

#board>div {
    flex-basis: 74%;
    border: .75em solid rgba(255, 56, 85, 1);
    margin: 1em 2em;
    display: flex;
    flex-wrap: wrap;
}

#board>div>div {
    padding: 3.5em;
    flex-basis: 33%;
    flex-grow: 1;
}

#board span {
    display: block;
}

#board span:nth-of-type(1) {
    color: rgba(255, 56, 85, 1);
}

#board span:nth-of-type(2) {
    color: #fff;
}

#calendar a.btn {
    display: block;
    margin: 3em auto;
    width: 9.375em;
}

#calendar #programme-qa {
    max-width: 50em;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#calendar #programme-qa>div {
    flex-basis: calc(50% - 3em);
}

#calendar #programme-qa>div p {
    text-align: left;
    margin-bottom: 3em;
    margin: 1em 0;
    width: 100%;
}

#calendar #programme-qa span.question {
    color: rgba(0, 229, 212, 1);
}

#calendar #programme-qa a,
#calendar #programme-qa a:active,
#calendar #programme-qa a:visited {
    color: white;
    text-decoration: underline;
}

#calendar #programme-qa a:hover {
    color: rgba(0, 229, 212, 1);
    text-decoration: underline;
}

#calendar>p:last-of-type {
    font-size: 1.125em;
    margin: 5em auto;
}

#calendar p:last-of-type a,
#calendar p:last-of-type a:active,
#calendar p:last-of-type a:visited {
    color: white;
    text-decoration: underline;
}

#calendar p:last-of-type a:hover {
    color: rgba(0, 229, 212, 1);
    text-decoration: underline;
}

@media (max-width: 1000px) {
    #board img {
        display: none;
        flex-basis: 0 !important;
    }
    #board>div {
        width: 100%;
        flex-basis: 100% !important;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 650px) {
    #board>div>div {
        padding: 1.5em !important;
    }
    #programme-qa {
        flex-direction: column;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: PROGRAMME  *
 *  Section: 4       *
 *                   *
 * * * * * * * * * * */

#banner-slx {
    padding: 4.125em 0;
    background: url(/img/startup-lx.jpg);
    background-size: cover;
}

#banner-slx div {
    text-align: center;
    font-weight: bold;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    max-width: 44em;
}

#banner-slx h2 {
    font-size: 3.125em;
    line-height: 1;
    margin-top: 0;
    color: inherit;
}

#banner-slx p {
    font-size: 1.125em;
    font-weight: 500;
    max-width: 30em;
    margin: 1em auto;
    width: 100%;
}

#banner-slx .btn {
    margin-top: 2em;
}


/* * * * * * * * * * *
  *                   *
  *  Page: PROGRAMME  *
  *  Section: 5       *
  *                   *
  * * * * * * * * * * */

#talk-applications {
    padding: 8.188em 0 0 0;
    position: relative;
}

#talk-applications>p:first-of-type {
    max-width: 25em;
    text-align: center;
    margin: 3.45em auto 3.73em;
}

#talk-applications>p:last-of-type {
    font-size: 1.125em;
    color: rgba(18, 25, 82, 1);
    text-align: center;
    margin: 5.5em auto 5em;
    width: 90%;
}

#talk-applications p:last-of-type a {
    text-decoration: underline;
    font-weight: bold;
}

#early-bird {
    background-color: rgba(18, 25, 82, 1);
    box-shadow: 2px -1px 4px 0px rgba(0, 0, 0, 0.1), -.6em .6em 0 rgba(255, 56, 85, 1);
    position: absolute;
    top: 1em;
    right: 7.5em;
    max-width: 17em;
    padding: 1em;
}

#early-bird p {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 0;
}

#early-bird h3 {
    font-size: 1.125em;
    color: rgba(0, 229, 212, 1);
    text-align: center;
    line-height: 1.5;
    margin: 0;
}

@media (max-width: 1200px) {
    #early-bird {
        position: relative;
        margin: 2em auto;
        width: 90%;
        height: auto;
        right: 0;
        top: 0;
    }
}

#sequence {
    display: flex;
    justify-content: space-between;
    max-width: 57em;
    margin: 0 auto;
    width: 95%;
}

#sequence>div::after {
    content: ' ';
    position: absolute;
    top: 1em;
    left: 75%;
    height: 2px;
    background: #000;
    width: 50%;
}

#sequence>div:last-of-type::after {
    content: '';
    width: 0;
}

#sequence>div {
    text-align: center;
    position: relative;
    flex-basis: 16.666%;
}

#sequence .number {
    display: block;
    font-weight: bold;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1.2;
    border: .4em solid rgba(18, 25, 82, 1);
    color: rgba(18, 25, 82, 1);
    margin: 0 auto;
}

#sequence .text {
    display: block;
    text-align: center;
    font-size: 1.125em;
    max-width: 6.5em;
    margin: 1.389em auto 0;
}

@media (max-width: 750px) {
    #sequence {
        flex-wrap: wrap;
    }
    #sequence>div {
        flex-basis: 33.3333%;
    }
    #sequence>div:first-of-type {
        margin-bottom: 3em;
    }
    #sequence>div:nth-child(3)::after {
        width: 0;
    }
}

@media (max-width: 400px) {
    #sequence>div {
        flex-basis: 50%;
    }
    #sequence>div:nth-child(4) {
        margin-bottom: 3em;
    }
    #sequence>div:nth-child(even)::after {
        width: 0;
    }
    #sequence>div:nth-child(3)::after {
        width: 50%;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: PROGRAMME  *
 *  Section: 6       *
 *                   *
 * * * * * * * * * * */

#programme main>div:last-of-type {
    background-color: rgba(247, 247, 247, 1);
    padding: 3.375em 0;
}

#shape-your-future {
    margin: 0 auto;
}


/* * * * * * * * * *
 *                 *
 *  Page: APPLY    *
 *  Section: 1     *
 *                 *
 * * * * * * * * * */

#apply nav:not(.scroll) .btn,
#apply nav:not(.scroll) ul li a:hover {
    color: #121952 !important;
}

#apply nav .btn {
    margin: 0;
    background: transparent;
    border-color: transparent;
    color: #ff3855 !important;
}

#apply nav:not(.scroll) .btn:hover {
    background: transparent;
}

#apply .big-header p {
    max-width: 8em;
}

#apply main {
    display: flex;
    width: 90%;
    margin: 5em auto;
    max-width: 60em;
}

#apply main>form {
    margin-left: 5em;
    flex-basis: 67%;
}

#apply main>form h2 {
    font-size: 3.125em;
    color: rgba(18, 25, 82, 1);
    text-align: left;
    margin: 0 0 .5em;
    line-height: 1;
}

form>div {
    position: relative;
    margin: 2.875em 0;
}

#apply main>div p img {
    width: auto;
    border: 0;
    box-shadow: 0 0 0 0;
    display: inline;
    border-radius: 0;
    height: 1.5em;
}

form>div label {
    position: absolute;
    top: .988em;
    line-height: normal;
    left: 1.688em;
    height: 100%;
    font-weight: 500;
    transition: .2s ease-in-out font-size, .2s ease-in-out top, .2s ease-in-out left;
    z-index: 0;
}

.written label,
.writing label {
    left: 2.250em !important;
    font-size: .75em;
    top: -1.8em !important;
}

.writing textarea,
.writing input {
    border-color: rgba(75, 83, 144, 1) !important;
}

.written textarea,
.written input {
    border-color: rgb(244, 244, 244) !important;
    color: rgba(75, 83, 144, 1);
}

.written input:hover,
.written textarea:hover {
    border-color: #ebebeb !important;
}

.success div input,
.success div textarea,
.success .btn {
    border-color: #5ddc2b !important;
}

.success .btn {
    background: #5ddc2b;
}

.error div input,
.error div textarea,
.error .btn {
    border-color: rgb(255, 56, 85) !important;
}

.error .btn {
    background: rgb(255, 56, 85);
}

.success p {
    color: #5ddc2b;
}

form input[type="email"],
form input[type="text"],
form textarea {
    display: block;
    width: 100%;
    margin: 0;
    border: .188em solid rgba(18, 25, 82, 1);
    padding: .8em 1.5em;
    transition: .25s ease-in-out all;
    background: transparent;
    position: relative;
    z-index: 2;
}

form p {
    display: none;
    text-align: right;
}

#apply main>form .btn {
    margin-left: auto;
    display: block;
    transition: border-color .25s ease, color .25s ease, background .25s ease;
}

#apply main>div {
    width: 22em;
}

#apply main>div img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: .4em solid #f7f7f7;
    display: inline-block;
    vertical-align: middle;
}

#apply main>div>div:first-of-type {
    display: flex;
    align-items: center;
    margin-bottom: -0.5em;
    margin-left: 1em;
    z-index: 9;
    position: relative;
}

#apply main>div>div:first-of-type::after {
    content: ' ';
    width: 100%;
    position: absolute;
    height: 1em;
    background: #f7f7f7;
    bottom: -.6em;
}

#apply main>div>div>div {
    margin-left: 1em;
    vertical-align: middle;
}

#apply main>div span {
    display: block;
}

#apply main>div span:first-of-type {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(18, 25, 82, 1);
    line-height: 1;
}

#apply main>div span:last-of-type {
    font-weight: 500;
    color: rgba(255, 56, 85, 1);
    line-height: 1.2;
}

#apply main>div>div:last-of-type {
    background-color: rgba(247, 247, 247, 1);
    padding: 1em;
    text-align: left;
    z-index: 1;
    position: relative;
}

#apply main>div>div:last-of-type,
#apply main>div img {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#apply main>div p:first-of-type {
    margin-top: 0;
}

#apply main>div p:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 860px) {
    #apply main>form {
        margin-left: 3em;
    }
    #apply main>form h2 {
        font-size: 5.5vw;
    }
}

@media (max-width: 650px) {
    #apply main {
        flex-direction: column;
    }
    #apply main>div {
        width: 100%;
    }
    #apply main>form {
        margin-top: 2em;
        margin-left: 0;
    }
}


/* * * * * * * * * * *
 *                   *
 *  Page: ABOUT      *
 *  Section: 1       *
 *                   *
 * * * * * * * * * * */

#about .big-header p {
    font-weight: normal;
    color: #121952;
}

#about nav:not(.scroll) .btn {
    background: #121952;
    border-color: #121952;
}

/* * * * * * * * * * *
 *                   *
 *  Page: ABOUT      *
 *  Section: 2       *
 *                   *
 * * * * * * * * * * */


#about main #dream-goal {
    display: flex;
    max-width: 90em;
    width: 70%;
    margin: 5em auto;
    justify-content: space-between;
}

#about main #dream-goal h1 {
    flex-basis: calc(50% - 2em);
    font-size: 3em;
    text-align: left;
    color: rgba(18, 25, 82, 1);
    margin: 0;
}

#about main #dream-goal div {
    flex-basis: calc(60% - 5em);
}

#about main #dream-goal div p {
    color: rgba(75, 83, 144, 1);
    font-weight: 500;
}

@media (max-width: 1036px) {
    #about main #dream-goal {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #about main #values {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* * * * * * * * * * *
 *                   *
 *  Page: ABOUT      *
 *  Section: 3       *
 *                   *
 * * * * * * * * * * */

#about main #values {
    background-color: rgba(18, 25, 82, 1);
    display: flex;
    padding: 8em;
    justify-content: space-between;
}

#about main #values div {
    flex-basis: 30%;
}

#about main #values div h3 {
    color: rgba(0, 229, 212, 1);
    font-size: 1.125em;
}

#about main #values div p {
    color: white;
}

/* * * * * * * * * *
 *                 *
 *  Page: ALL      *
 *  Section: Footer*
 *                 *
 * * * * * * * * * */

#right-here {
    background: rgba(18, 25, 82, 1);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 7.8em 0;
}

#right-here h2 {
    font-size: 3.125em;
    margin: 0;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 1;
}

#right-here iframe {
    height: 15em;
}

#right-here>p {
    margin: 1.6em 0 2.7em;
}

#right-here>p,
#right-here a {
    color: rgba(0, 229, 212, 1);
    font-weight: bold;
}

#right-here p {
    font-size: 1.125em;
}

#right-here>div {
    display: flex;
    max-width: 70em;
    width: 90%;
    margin: 0 auto;
}

#right-here>div>* {
    flex-basis: 50%;
}

#right-here>div>div {
    margin-left: 3em;
}

#right-here>div p {
    text-align: left;
    margin-top: 0;
    margin: 0;
}

#right-here>div p:nth-child(2) {
    font-size: 1em;
    margin: 1.25em 0;
}

#social {
    font-size: 1em !important;
}

#social a {
    margin-right: 2em;
}

#social svg {
    height: 1.7em;
    width: 1.7em;
}

#social a path {
    transition: .2s ease fill;
}

#social a:hover path {
    fill: rgba(0, 229, 212, 1);
}

#copyright {
    text-align: center;
}

@media (max-width: 750px) {
    #right-here>div {
        flex-direction: column;
    }
    #right-here>div div {
        margin: 2em 0 0;
    }
}
