.error div input,
.error div textarea,
.error .btn {
    border-color: rgb(255, 56, 85) !important;
}

.error .btn {
    background: rgb(255, 56, 85);
}

#apply form p {
    display: none;
    text-align: right;
}

.success p {
    color: #7bed4e;
}
