* {
 box-sizing: border-box;
}

body {
 font-family: 'Open Sans', sans-serif;
 color: #212121;
}

nav {
 background-color: #fff;
 line-height: 4em;
}

nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
 text-align: right;
}

nav ul li {
 display: inline-block;
 height: 4em;
}

nav a {
 display: block;
 text-decoration: none;
 color: inherit;
 padding: 0 .5em;
 font-weight: 800;
}

nav ul li:first-of-type {
 float: left;
}

nav ul li:last-child a {
 padding-right: 0;
}

nav img {
 max-height: 4em;
}


/* CLASSES */

.container {
 max-width: 960px;
 width: 90%;
 margin: 0 auto;
}

.text {
    max-width: 600px;
}

#heading {
 width: 100%;
 height: calc(100vh - 4em);
 text-align: center;
 background-color: #FF3855;
 position: relative;
 color: #fff;
}

#heading>div {
 position: relative;
 top: 50%;
 transform: translateY(-50%);
 width: 80%;
 margin: 0 auto;
}

#heading h1 {
 margin-top: 0;
 font-size: 8em;
 margin-bottom: .4em;
}

#heading input {
 padding: 0;
 text-align: center;
 border: 0;
 font-size: 1.5em;
 height: 70px;
 transition: .2s ease-in-out;
 border-bottom: 2px solid white;
 background: transparent;
 color: #fff;
 width: 0;
 z-index: 0;
}

#heading input.active {
 width: 100%;
}

#heading input:focus, #heading input:hover {
 outline: 0;
}

#email {
 position: relative;
 width: 70%;
 margin: 0 auto;
}

#email span {
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 width: 100%;
 height: 100%;
 line-height: 70px;
 font-size: 1.5em;
 color: rgba(255, 255, 255, 0.5);
 cursor: text;
 z-index: 1;
 transition: .2s ease all;
}

#email.active span {
 opacity: 1;
 transform: translateX(-50%);
 z-index: 0;
}

#email.active input {
 width: 100%;
 z-index: 1;
}

@keyframes input-text-to-left {
 from {
  text-align: center;
 }
 to {
  text-align: left;
 }
}
