* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    font: 1em/1.6 Poppins, sans-serif;
    color: #121952;
    padding-top: 4.2em;
    user-select: none;
}

p {
    user-select: initial;
}

h1,
h2,
h3,
h4 {
    font-family: Poppins, sans-serif;
    line-height: 1;
    font-weight: 300;
    color: #ff3855;
}

h2 {
    margin-top: 2em;
    margin-bottom: .2em;
    font-size: 3.125em;
    font-weight: 300;
    line-height: 0.8;
    letter-spacing: 1.3px;
    color: #ff3855;
}

p {
    font-size: 1.125em;
    line-height: 1.67;
    letter-spacing: 0.5px;
}

input {
    transition: .2s ease-in-out all;
}

input[type="submit"] {
    background-image: linear-gradient(to left, #ff698e, #ff3855);
    border-style: none;
    padding: 0.8em;
    cursor: pointer;
}

.container {
    max-width: 40em;
    width: 95%;
    margin: 0 auto;
}

.container h2:first-of-type {
    margin-top: 0;
}

main .container {
    padding: 6em 0;
}


/* NAVIGATION BAR */

#expand,
#expand-button {
    display: none;
}

#expand-button {
    margin-right: 1em;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: .2s ease-in-out all;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    display: flex;
    align-items: center;
    width: calc(100% - 3em);
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 1.05em;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 1.5em .5em;
    transition: .2s ease-in all;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .08em;
}

nav ul li:first-of-type {
    margin-right: auto;
}

nav ul li:first-of-type a {
    margin: 0;
    border: 0 !important;
    font-weight: normal;
    display: inherit;
    transition: none;
}

#home a:hover svg path {
    fill: #e3fd31;
}

nav ul a:hover svg path {
    fill: #ff3855;
}

#home nav a:hover {
    color: #e3fd31;
}

nav a:hover {
    color: #ff3855;
}

nav a.active {
    color: #ff3855;
}

nav svg path {
    transition: .2s ease all;
    fill: #121952;
}

nav ul li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

@media (max-width: 720px) {
    nav {
        transform: translateY(calc(-100% + 4.2em));
    }
    #expand:checked~nav {
        transform: translateY(0);
    }
    nav ul {
        flex-direction: column-reverse;
    }
    #expand-button,
    nav li:first-of-type a {
        display: inline-block !important;
        vertical-align: middle;
    }
    nav li {
        width: 100%;
        text-align: left;
        padding: 1em 0 !important;
    }
    nav li a {
        margin: 0;
        padding: 0;
    }
}


/* HOME */

#home nav {
    background-color: #121952;
    color: #fff;
    border-bottom: 0;
    box-shadow: 0 0 0;
}

#home nav path {
    fill: #fff;
}

#home header {
    width: 100%;
    height: calc(100vh - 4.2em);
    text-align: center;
    color: #fff;
    position: relative;
    background-color: #121952;
}

#home header>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#home header a {
    display: block;
    margin-top: 6em;
}

#home header div>img {
    width: 6.6em;
    margin-bottom: 1.9em;
}

#home header button {
    background-image: linear-gradient(to left, #ff698e, #ff3855);
    color: #fff;
}

#home header a img {
    position: absolute;
    left: 50%;
    bottom: -1em;
    transform: translateX(-50%) rotate(90deg);
    margin: 0;
}

#home header h1.intro {
    font-size: 3.750em;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: 1.5px;
    color: #ffffff;
    max-width: 10em;
    margin: 0 auto;
}


/* PARTNERS */

#partners {
    background-color: #121952;
}

#partners h2 {
    font-size: 3.125em;
    font-weight: 600;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
}

#partners .container {
    max-width: 80em;
    padding: 6em 0;
}


/* Contacts */

#contacts {
    display: flex;
    flex-flow: row wrap;
    width: auto;
}

#contacts h2 {
    font-weight: 700 !important;
    color: #121952;
    letter-spacing: 0.8px;
    font-size: 2em;
}

#contacts .container {
    display: flex;
}

#contacts .container div {
    flex: 1;
}

#contacts .container p a img {
    margin: 0 .4em 0 0;
}

#contacts .container div p:first-of-type {
    margin: 18px 0 0 0;
    font-size: 1em;
}

#contacts .container div:nth-child(1) p a {
    color: #121952;
    text-decoration: none;
}

#contacts .container div:nth-child(2) p a {
    margin: 0;
    display: inline-block;
}

#contacts .container .email {
    color: #121952;
}

#contacts .container .link {
    color: #00e5d4 !important;
    text-decoration: underline;
}


/* NEWSLETTER */

#newsletter {
    background-color: #e3fd31;
}

#newsletter h2 {
    letter-spacing: 0.8px;
    font-size: 2em;
    font-weight: 300;
    color: #121952;
}

#newsletter input[type="email"] {
    margin-top: 1.8em;
    border-color: white;
    border-style: none;
    padding: 0.8em;
    width: 75%;
    margin-right: 1.5em;
}

#newsletter input[type="submit"] {
    width: 20%;
    color: white;
}


/* PLAYGROUND */

#playground header {
    background: url('/img/playground/cover.png') center center / cover;
}

#playground header p {
    text-align: center;
    color: #ffffff;
}

#playground header .container {
    padding: 8em 0;
}

#playground h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 0.8;
    margin: 0;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
}

#playground h2 {
    color: #00e5d4;
    font-weight: 300;
}


/* MENTORS PAGE */

#mentors .banner button {
    background-image: linear-gradient(to left, #f1ff8f, #e3fd31);
}

#mentors header {
    padding: 6.625em 0 5.9em;
}

#mentors header h1 {
    font-size: 3.125em;
    font-weight: 600;
    line-height: 0.8;
    letter-spacing: 1.3px;
    text-align: center;
    color: #121952;
    margin: 0;
}

#mentors header p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgba(18, 25, 82, 0.6);
    margin: .5em 0 0 0;
}

#mentors header #mentorsgrid {
    display: inline-grid;
}


/* BANNER */

a button {
    background-image: linear-gradient(to left, #3ffff1, #00e5d4);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    color: #121952;
    border: 0;
    font-weight: 600;
    padding: 0.7em 1.3em;
    cursor: pointer;
}

a img {
    margin-left: -0.7em;
}

.banner {
    background-color: #121952;
    text-align: center;
}

.banner .container {
    padding: 5em 0;
    max-width: 30em;
}

.banner h2 {
    font-size: 2.5em;
    line-height: 1.13;
    letter-spacing: 1px;
    color: #ffffff !important;
    margin-bottom: .95em;
}


/* FOOTER */

footer p {
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: #9b9b9b;
    margin: 2em 0;
}