* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    font: 1em/1.6 'Roboto', sans-serif;
    color: rgb(75, 83, 144);
    background: #fff;
    letter-spacing: 0.03em;
    padding-top: 4.3em;
}

a {
    color: inherit;
    text-decoration: none;
}


/* NAVIGATION BAR */

#expand,
#expand-button {
    display: none;
}

#expand-button {
    margin-right: 1em;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: .2s ease-in-out all;
    height: 4.3em;
}

nav.scroll {
    background: #fff !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    display: flex;
    align-items: center;
    width: calc(100% - 3em);
    max-width: 55em;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 1em;
    letter-spacing: 0.03em;
}

nav a {
    margin: 1em;
    display: block;
    text-decoration: none;
    color: #121952;
    transition: .2s ease-in all;
    text-transform: uppercase;
    line-height: 1;
}

nav ul li:first-child a {
    margin-left: 0;
}

nav ul li:last-child a {
    margin-right: 0;
}

nav ul li:first-of-type {
    margin-right: auto;
}

nav ul li:first-of-type a {
    margin: 0;
    border: 0 !important;
    font-weight: normal;
    display: inherit;
    transition: none;
}

nav ul a:hover svg path {
    fill: #ff3855;
}

nav a:hover {
    color: #ff3855;
}

nav a.active {
    color: #ff3855;
}

nav svg path {
    transition: .2s ease all;
    fill: #121952;
}

@media (max-width: 720px) {
    nav {
        transform: translateY(calc(-100% + 4.2em));
    }
    #expand:checked~nav {
        transform: translateY(0);
    }
    nav ul {
        flex-direction: column-reverse;
    }
    #expand-button,
    nav li:first-of-type a {
        display: inline-block !important;
        vertical-align: middle;
    }
    nav li {
        width: 100%;
        text-align: left;
        padding: 1em 0 !important;
    }
    nav li a {
        margin: 0;
        padding: 0;
    }
}

.btn {
    color: rgba(231, 231, 232, 1);
    padding: .65em 1.75em .4em 1.5em;
    transition: none;
    border-left: .25em solid rgba(231, 231, 232, 1);
    border-bottom: .25em solid rgba(231, 231, 232, 1);
    text-align: center;
    position: relative;
}

.btn:before,
.btn:after {
    content: '';
    display: block;
    position: absolute;
    transition: transform 250ms 250ms;
    background: #fff;
}

.btn:before {
    top: 0;
    height: .25em;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0;
    width: 100%;
}

.btn:hover:before {
    transform: scaleX(1);
}

.btn:after {
    height: 100%;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: 0 100%;
    width: .25em;
}

.btn:hover:after {
    transform: scaleY(1);
}

.btn-red {
    color: rgb(255, 56, 85) !important;
    border-left-color: rgb(255, 56, 85);
    border-bottom-color: rgb(255, 56, 85);
}

.btn-red:before,
.btn-red:after {
    background: rgb(255, 56, 85);
}


/** HOME **/

#home nav {
    background: #121952;
}

#home nav svg path {
    fill: rgba(231, 231, 232, 1);
}

#home nav.scroll svg path {
    fill: #121952;
}

#home nav a {
    color: #fff;
}

#home nav.scroll a {
    color: inherit;
}

#home header {
    background: rgba(18, 25, 82, 1);
    height: calc(100vh - 4.3em);
    color: #fff;
    text-align: center;
    padding-top: 4em;
}

#home header>p {
    max-width: 45em;
    margin: 4em auto;
}

#home header div:first-of-type {
    display: flex;
    margin: 0 auto;
    max-width: 69em;
}

#home header div:first-of-type img {
    max-height: 10em;
}

#home header div:first-of-type p {
    font-size: 2.875em;
    max-width: 17em;
    margin: 1em .5em 0;
    font-weight: bold;
}

#home header .btn {
    font-size: 1.125em;
}

#home header .btn:first-of-type {
    margin-right: 2em;
}