* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    font: 1em/1.6 Poppins, sans-serif;
    color: #121952;
    padding-top: 4.2em;
}

h1,
h2,
h3,
h4 {
    font-family: Poppins, sans-serif;
    line-height: 1;
    font-weight: 300;
    color: #ff3855;
}

h2 {
    margin-top: 2em;
    margin-bottom: .2em;
    font-size: 3.125em;
    font-weight: 300;
    line-height: 0.8;
    letter-spacing: 1.3px;
    color: #ff3855;
}

p {
    font-size: 1.125em;
    line-height: 1.67;
    letter-spacing: 0.5px;
}

.container {
    max-width: 40em;
    padding: 6em 0;
    width: 95%;
    margin: 0 auto;
}

.container h2:first-of-type {
    margin-top: 0;
}


/* NAVIGATION BAR */

#expand,
#expand-button {
    display: none;
}

#expand-button {
    margin-right: 1em;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    transition: .2s ease-in-out all;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
}

nav.scroll {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    display: flex;
    align-items: center;
    width: calc(100% - 3em);
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 1.05em;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 1.5em .5em;
    transition: .2s ease-in all;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .08em;
}

nav ul li:first-of-type {
    margin-right: auto;
}

nav ul li:first-of-type a {
    margin: 0;
    border: 0 !important;
    font-weight: normal;
    display: inherit;
    transition: none;
}

#home a:hover svg path,
nav ul a:hover svg path {
    fill: #e3fd31;
}

nav svg path {
    transition: .2s ease all;
    fill: #121952;
}

nav ul li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

@media (max-width: 720px) {
    nav {
        transform: translateY(calc(-100% + 4em));
    }
    #expand:checked~nav {
        transform: translateY(0);
    }
    #expand:checked~nav:not(.scroll) {
        background-color: rgb(172, 40, 110);
    }
    nav ul {
        flex-direction: column-reverse;
    }
    #expand-button,
    nav li:first-of-type a {
        display: inline-block !important;
        vertical-align: middle;
    }
    nav li {
        width: 100%;
        text-align: left;
        padding: 1em 0 !important;
    }
    nav li a {
        margin: 0;
        padding: 0;
    }
}


/* HOME */

#home nav {
    background-color: #121952;
    color: #fff;
    border-bottom: 0;
}

#home nav path {
    fill: #fff;
}

#home header {
    width: 100%;
    height: calc(100vh - 4.2em);
    text-align: center;
    color: #fff;
    position: relative;
    background-color: #121952;
}

#home header a {
    position: fixed;
    bottom: 3em;
    display: block;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

#home header>img {
    width: 17em;
    position: absolute;
    top: calc(50% - 5em);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#home header a img {
    margin: 0 auto;
    max-width: 1.5em;
    animation: 2s bounce infinite;
}

#home header h1.intro {
    font-size: 3.750em;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: 1.5px;
    color: #ffffff;
    max-width: 10em;
    margin: 0 auto;
    position: absolute;
    top: calc(50% + 1.75em);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/* PARTNERS */

#partners {
    background-color: #121952;
}

#partners h2 {
    font-size: 3.125em;
    font-weight: 600;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
}

#partners .container {
    max-width: 80em;
    padding: 6em 0;
}


/* PLAYGROUND */

#playground h2 {
    color: #00e5d4;
}

#playground h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 0.8;
    margin: 0;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
}

#playground header p {
    text-align: center;
    color: #ffffff;
}

#playground header {
    background: url('/img/playground/cover.png') center center / cover;
}


/* MENTORS BANNER */

#mentors-banner {
    background-color: #121952;
}

#mentors-banner .container {
    padding: 5em 0;
}

#mentors-banner h2 {
    font-size: 2.5em;
    line-height: 1.13;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}


/* FOOTER */

footer p {
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: center;
    color: #9b9b9b;
    margin: 2em 0;
}
