* {
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    font: 1em/1.6 Poppins, sans-serif;
    color: #121952;
    padding: 1.5em;
}

h1,
h2,
h3,
h4 {
    font-family: Poppins, sans-serif;
    line-height: 1;
}

#about>h1,
#about>h2,
#about>h3,
#about>h4,
#playground>h1,
#playground>h2,
#playground>h3,
#playground>h4 {
    font-weight: 300;
    color: #ff3855;
}

#expand,
#expand-button {
    display: none;
}

#expand-button {
    margin-right: 1em;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 1.5em;
    left: 1.5em;
    z-index: 999;
    width: calc(100% - 3em);
    color: #fff;
    transition: .2s ease-in-out all;
    font-family: 'Source Sans Pro', sans-serif;
}

nav.scroll {
    background: #121952;
    color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    padding: 0 1.5em;
}

@media (max-width: 720px) {
    nav {
        transform: translateY(calc(-100% + 4em));
    }
    #expand:checked~nav {
        transform: translateY(0);
    }
    #expand:checked~nav:not(.scroll) {
        background-color: rgb(172, 40, 110);
    }
    nav ul {
        flex-direction: column-reverse;
    }
    #expand-button,
    nav li:first-of-type a {
        display: inline-block !important;
        vertical-align: middle;
    }
    nav li {
        width: 100%;
        text-align: left;
        padding: 1em 0 !important;
    }
    nav li a {
        margin: 0;
        padding: 0;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    display: flex;
    align-items: center;
    width: calc(100% - 3em);
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    font-size: 1.05em;
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 1.5em .5em;
    transition: .2s ease-in all;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .08em;
}

footer a {
    transition: .2s ease-in all;
}

nav a:hover,
footer a:hover {
    color: #e3fd31;
}

nav ul li:first-of-type {
    margin-right: auto;
}

nav ul li:first-of-type a {
    margin: 0;
    border: 0 !important;
    font-weight: normal;
    display: inherit;
    transition: none;
}

nav ul li:first-of-type a:hover svg path {
    fill: #e3fd31;
}

nav #logo {
    height: 1.750em;
    width: 6.813em;
    background: url('/img/logo-nav.png') no-repeat center center / cover;
    transition: .2s ease all;
}

nav svg path {
    transition: .2s ease all;
}

nav.scroll svg path {
    fill: #ffffff;
}

nav ul li:last-child a {
    padding-right: 0;
    margin-right: 0;
}

main {
    background: #fff;
    position: relative;
    padding: 4.15em 0;
}

#cover {
    position: fixed;
    top: 1.5em;
    left: 1.5em;
    width: calc(100% - 3em);
    height: calc(100vh - 3em);
    object-fit: cover;
    background-color: #121952;
}


/* CLASSES */

header {
    width: calc(100% - 3em);
    height: calc(100vh - 1.5em);
    text-align: center;
    color: #fff;
    position: relative;
}

header a {
    position: fixed;
    bottom: 3em;
    display: block;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

header>img {
    width: 17em;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header a img {
    margin: 0 auto;
    max-width: 1.5em;
    animation: 2s bounce infinite;
}

header h1.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 5em;
}

@keyframes bounce {
    0% {
        transform: translateY(0em);
    }
    75% {
        transform: translateY(1em);
    }
    100% {
        transform: translateY(0em);
    }
}

#partners {
    background-color: #121952;
}


main>div,
footer>div {
    max-width: 635px;
    margin: 0 auto;
    width: 90%;
    padding: 1px 0;
}

main>div {
    padding: 1em 0;
    max-width: 48em;
    transform: translateX(4em);
}

main p {
    font-size: 1.2em;
}

@media (max-width: 55em) {
    main>div {
        transform: translateX(0);
    }
}

main>div h2 {
    font-size: 3.8em;
    margin-top: 0;
    margin-bottom: .2em;
    text-transform: uppercase;
}

main>div h3 {
    color: #121952;
    font-weight: lighter;
    font-size: 2.5em;
    margin: 1.5em 0 .4em;
}

footer>div {
    /* margin-top: 5em; */
    padding: 5em 0;
    color: #fff;
}

footer>div>div {
    display: flex;
}

footer>div>div>div {
    flex-basis: 50%;
}

footer>div h2 {
    font-size: 2.5em;
    margin: 0;
}

footer>div p {
    margin: 0;
}

footer>div a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 450px) {
    footer>div>div {
        flex-direction: column;
    }
    footer>div>div>div:last-child {
        margin-top: 2em;
    }
}

footer {
    font-weight: 600;
    text-align: center;
    position: relative;
}

footer p {
    margin: 1.5em 0;
    color: #fff;
}


/* BORDERS */

#border-top,
#border-bottom {
    position: fixed;
    z-index: 999;
    background-color: #fff;
}

#border-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
}

#border-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
}
