body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}

* {
    box-sizing: border-box;
}

p {
  z-index: 50px;
  color: white;
  font-size: 45px;
  padding: 50px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
