<!--
{
    "mentors":[
        {"Gustavo Pimenta": "User Experience"},
        {"Paulo Gonçalves": "Digital Design"},
        {"Mário Mouraz": "Sales"},
        {"Leihla Pinho": "User Experience"},
        {"Daniel Caeiro": "Marketing & Communication"},
        {"Tiago Moreiras": "Product Management"}
    ]
}
-->
<div id="mentors">
    <div class="container">
        <div class="mentor">
            <img src="/img/mentors/gustavopimenta.jpg">
            <h2 class="mentor-name">Pedro Jacobina</h2>
            <p class="mentor-role">User experience</p>
        </div>
    </div>
</div>
