<div id="mentors">
    <div class="overlay"></div>
    <div class="mentor-popup">
        <div>
            <div><img src="/img/mentors/gustavopimenta.jpg"></div>
            <p class="name">Gustavo Pimenta</p>
            <p class="role">User Experience</p>

            <p class="worksat">Works at:<br>
            <span class="job">Somewhere</span></p>
        </div>
        <div id="mentor-about">
            <h2>Mentor</h2>
            <div class="description"></div>
        </div>
        <a><img class="close-icon" src="/img/symbols/close.svg"></a>
    </div>
    <div class="container">
        {{ range $mentor := .Site.Data.mentors }}
        <div class="mentor">
            <img src="{{ safeHTMLAttr $mentor.Photo }}">
            <h2 class="name">{{ $mentor.Name }}</h2>
            <p class="role">{{ $mentor.Role }}</p>
            <div class="description"><p>
                {{- (partial (printf "mentors/%s" $mentor.Description)) | markdownify -}}</p>
            </div>
            <p class="job">{{ $mentor.Job }}</p>
        </div>
        {{ end }}
    </div>
</div>
