<div id="team">
    <h2>Team</h2>
    <p>These are the doers facilitating your dream</p>

    <div>
        {{ range $member := .Site.Data.team }}
        <div class="member">
            <img src="{{ safeHTMLAttr $member.Image }}">
            <p class="name">{{ $member.Name }}</p>
            <p class="role">{{ $member.Role }}</p>
            <p class="email">{{ if not (eq $member.Email "") }}<a href="mailto:{{ safeHTMLAttr $member.Email }}">{{ $member.Email }}</a>{{ end }}</p>
            <p class="social">
            {{- range $media, $link := $member.Social }}
                <a target="_blank" href="{{ safeHTMLAttr $link }}">{{ partial (printf "social/%s.svg" (lower $media)) }}</a>
            {{- end }}
            </p>
        </div>
        {{ end }}
    </div>
</div>
