{{ partial "header" . }}

<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
</style>
<main>

  <div class="background-container">
    <p id="strong-name">upframe</p>
    <h1 id="jumbotron">Anyone can become an entrepreneur</h1>
  </div>

  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lectus leo, faucibus ac facilisis quis, suscipit quis elit. Fusce vestibulum dapibus lectus a scelerisque. Mauris vitae convallis nisi. Donec eget diam accumsan tortor varius aliquet. In consequat massa mauris, non consectetur dolor auctor sit amet. Curabitur pellentesque, dolor ac convallis condimentum, tortor nisl scelerisque risus, ac condimentum mauris odio et lacus. Vivamus libero nibh, tristique volutpat erat at, dictum facilisis libero. Pellentesque et nisl et velit auctor laoreet. Suspendisse varius posuere gravida. Donec nec nunc eu eros ullamcorper mattis non quis diam. Nunc vel justo maximus, tempus purus eu, aliquam ligula. Suspendisse tempus volutpat velit, eu bibendum dolor fermentum sit amet.</p>
    <form>
      <input type="text"></input>
      <input type="email"></input>
      <button id="teste">Submit</button>
    </form>

  </div>

</main>

{{ partial "footer" . }}
