{{ partial "header" . }}

<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
</style>
<main>
  <div class="background-container">
    <p id="strong-name">upframe</p>
    <div class="content-container">
      <h1 id="jumbotron">Anyone can become an Entrepreneur.</h1>
      <form id="form">
        <input id="name-input" type="text" placeholder="Your name"></input>
        <input id="email-input" type="email" placeholder="Your email address"></input>
        <input type="submit" class="submit-button" value="Keep me posted" />
      </form>
    </div>
  </div>
</main>

{{ partial "footer" . }}
