<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ template "title" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav id="site-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/store">Store</a></li>
            {{ if .IsLoggedIn }}
            <li><a href="/cart">Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
            {{ end }}
            {{ if not .IsLoggedIn }}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            {{ end }}
        </ul>
    </nav>
    {{ template "content" . }}
    <script src="/js/sha.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
