{{ partial "header" . }}

<header>
    <div>
        <div>
            <img src="/img/symbols/top-left.svg">
            <p id="big-phrase">Dare to disrupt.</p>
            <img src="/img/symbols/top-right.svg">
        </div>

        <p>
            Upframe is a mentorship-driven and immersive journey for first-time
            entrepreneurs. Are you one of us? We got your back.
        </p>

        <div>
            <a href="/programme" class="btn">Our Programme</a>
            <a href="/about" class="btn btn-red btn-red-full">Apply</a>
        </div>

        <div>
            <img src="img/symbols/mouse.svg"></img>
            <p id="scroll">Scroll down</p>
        </div>
    </div>
</header>

<main>
    <div id="how-we-do-it">
        <h1>How we do it</h1>
        <p>We want to help develop and shape the next generation of entrepreneurs by</p>

        <div>
            <div>
                <img src="img/symbols/square.svg">
                <h2>Empower</h2>
                <p>
                    Our mentor expertise, personal and personalised approach and
                    problem-solving mindset will enable you to tackle challenging
                    issues and perhaps, produce a impact.
                 </p>
            </div>
            <div>
                <img src="img/symbols/arrow.svg" style="width: 2.750em;">
                <h2>Shape</h2>
                <p>
                    Instead of focusing so much in the “startup buzz” or in the
                    development of “the next big thing” our programme is designed to
                     address pain relievers and pleasure gainers and to constantly
                     get you out of your comfort zone enabling you to grow.
                </p>
            </div>
            <div>
                <img src="img/symbols/x.svg">
                <h2>Connect</h2>
                <p>
                    Upframe’s network of startups, mentors, incubators, accelerators
                    and like-minded people with whom you can work with, expands every day.
                </p>
            </div>
        </div>
    </div>

    <div id="our-programme">
        <div>
            <h1>Our Programme</h1>
            <h3>
                Upframe is a pre-acceleration programme that spreads throughout
                6 different weeks.
            </h3>
            <p>
                The Upframe programme, starting on April 19th and rolling up
                until May 27th, will include masterclasses by established tech
                entrepreneurs, our mentors, as well as practical exercises, team
                building activities and time for you, alongside your colleagues
                , to work on the projects.
            </p>
            <a href="/programme" class="btn btn-blue">See Programme</a>
        </div>
        <img src="img/ourprogramme.jpg">
    </div>

    <div id="our-mentors">
        <div>
            <img src="/img/mentors/placeholder.jpg">
            <img src="/img/mentors/placeholder.jpg">
            <img src="/img/mentors/placeholder.jpg">
            <img src="/img/mentors/placeholder.jpg">
        </div>
        <div>
            <h1>Our Mentors</h1>
            <h3>
                Get the support of high quality picked mentors throughout your journey.
            </h3>
            <p>
                During 7 sessions, the participants will get in contact with numerous
                mentors from very different areas and startups like Tesla, Spotify, Uniplaces,
                Codacy, Prodsmart or Chic by Choice. These will help you start with an idea
                and develop it until you reach your Minimum Viable Product.
            </p>
            <a href="/mentors" class="btn btn-blue">Meet the Mentors</a>
        </div>
    </div>
</main>

{{ partial "footer" . }}
