{{ partial "header" . }}

<header>
    <div>
        <div class="head">
            <img src="/img/symbols/top-left.svg">
            <div>
                <p id="big-phrase">Dare to disrupt.</p>
                <p>
                    Upframe is a mentorship-driven and immersive journey for first-time
                    entrepreneurs. Are you one of us? We got your back.
                </p>
            </div>
            <img src="/img/symbols/top-right.svg">
        </div>
        <div id="actions">
            <a href="/programme" class="btn">See Programme</a>
            <a href="/apply" class="btn btn-red btn-red-full">Apply now</a>
        </div>
    </div>
</header>

<main>
    <div id="how-we-do-it">
        <h1>How we do it?</h1>
        <p>We want to help develop and shape the next generation of entrepreneurs. How?</p>

        <div>
            <div>
                <img src="img/symbols/square.svg">
                <h2>Empower</h2>
                <p>
                    We provide you personalised support by our dedicated mentors,
                    with years of experience, who will help you reach further in your project
                 </p>
            </div>
            <div>
                <img src="img/symbols/arrow.svg" style="width: 2.750em;">
                <h2>Shape</h2>
                <p>
                    We want to imprint a problem-solving mindset in our class,
                    by getting them focused on addressing pain relievers and
                    pleasure gainers, instead of developing the "the next big thing"
                </p>
            </div>
            <div>
                <img src="img/symbols/cross.svg">
                <h2>Connect</h2>
                <p>
                    Upframe’s network of startups, mentors, incubators, accelerators
                    and like-minded people with whom you can work with, grows every day
                </p>
            </div>
        </div>
    </div>

    <div id="our-programme">
        <div>
            <h1>Our Programme</h1>
            <h3>
                Upframe is a pre-acceleration programme that spreads throughout
                6 weeks.
            </h3>
            <p>
                Our programme, starting on April 19th and rolling up until May 27th,
                will include masterclasses by established tech entrepreneurs,
                our mentors, as well as practical exercises, team building
                activities and time for you to work on your projects, alongside
                your colleagues.
            </p>
            <a href="/programme" class="btn btn-blue">See Programme</a>
        </div>
        <img src="img/ourprogramme.jpg">
    </div>

    <div id="powered-by">
        <div>
            <span>Powered by</span>
            <img src="/img/companies/startuplisboa-white.png">
            <a href="/about" class="btn btn-white">Learn More</a>
        </div>
    </div>

    <div id="our-mentors">
        <div>
            <img src="/img/mentors/placeholder.jpg">
            <img src="/img/mentors/placeholder.jpg">
            <img src="/img/mentors/placeholder.jpg">
            <img src="/img/mentors/placeholder.jpg">
        </div>
        <div>
            <h1>Our Mentors</h1>
            <h3>
                Our mentors passed through companies like Tesla, Twitter, Spotify and many more.
            </h3>
            <p>
                At Upframe we believe personal relationships are the key to great deeds.
                We're passionate about people. Perhaps that's what makes us different.
                Our programme was built and is maintained by our friends on the left with whom we're
                always grabbing coffees and having calls.
            </p>
            <a href="/mentors" class="btn btn-blue">Meet the Mentors</a>
        </div>
    </div>

    <div id="are-you-ready">
        <h1>Are you ready?</h1>
        <p>Engines are warm, we’re waiting for you</p>

        <a href="/apply" class="btn btn-red">Yeah, I'm ready!</a>
        <span><a data-scroll href="#newsletter">Nah, not ready yet</a></span>
    </div>

    <div class="grey-bar-logos" id="our-partners">
        <div>
            <p>With the <img src="img/symbols/heart.svg"> and support from our partners</p>

            <img src="/img/companies/hacker.png">
            <img src="/img/companies/uniarea.png">
            <img src="/img/companies/empreendedor.png" class="empreendedor">
            <img src="/img/companies/yagen.png">
            <img src="/img/companies/goyouth.png">
        </div>
    </div>

    <div id="newsletter">
        <h2>Check 1,2 - can you hear us?</h2>
        <p>Not yet ready to come onboard? Let us give you a tour inside the spaceship</p>
        <form>
            <div>
                <label>Your email</label>
                <input class="writing-effect" required type="email" name="email">
            </div>
            <input class="btn btn-dark-blue" type="submit" value="Send me updates">
        </form>
    </div>
</main>


{{ partial "footer" . }}
<p id="mentors-data" style="display:none">{{ jsonify .Site.Data.mentors }}</p>

</body>
</html>
