{{ partial "header" . }}

<header>
    <div>
        <img src="/img/logo-square.svg">
        <h1 class="intro">Awesome Tagline for opening</h1>
        <a href="#about" data-scroll><button>Learn More</button><img src="/img/arrow.svg"></a>
    </div>
</header>

<main>
    <div class="container">
        <h2 id="about">About</h2>

        <p>Upframe connects students to established tech entrepreneurs providing them tools and empowering them to become more entrepreneurial. More than an organization, Upframe is a community made by people who believe in creating an impact in the life of others.</p>

        <h2>How we do it?</h2>

        <p>Upframe connects students to established tech entrepreneurs providing them tools and empowering them to become more entrepreneurial. More than an organization, Upframe is a community made by people who believe in creating an impact in the life of others.</p>
    </div>

    <div id="partners">
        <div class="container">
            <h2>Partners</h2>

        </div>
    </div>

    <div id="contacts">
        <div>
            <h2>Contacts</h2>
            <p><a href="mailto:hello@upframe.xyz">hello@upframe.xyz</a></p>
        </div>
        <div>
            <h2>Follow us</h2>
            <p><a href="https://www.facebook.com/upframe">Facebook</a> / <a href="http://instagram.com/upframe">Instagram</a></p>
        </div>
    </div>
</main>

{{ partial "footer" . }}
