{{ define "title" }}Cart &bull; Upframe{{ end }}
{{ define "content" }}
{{ with .Data }}
<main role="main">
    <h1>Cart</h1>

    <table id="cart">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        {{ range $product := .Products }}
        <tr data-id="{{ $product.ID }}">
            <td data-name="ID">{{ $product.ID }}</td>
            <td data-name="Name">{{ $product.Name }}</td>
            <td data-name="Price">{{ $product.Price }}</td>
            <td data-name="Quantity">{{ $product.Quantity }}</td>
            <td><button class="btnRemove">&#215;</button></td>
        </tr>
        {{ end }}
    </table>
    <div id="checkout-box">
        <!--<input id="input-coupon" placeholder="Coupon code">-->
        Total: <span id="price">{{ .Total }}</span><span id="currency">€</span>
    </div>
</main>
{{ end }}
{{ end }}
