{{ define "title" }}Login &bull; Upframe{{ end }}
{{ define "content" }}
<main role="main" class="covered">
    <form method="post" id="login" class="floating-box">
        <h1>Login</h1>
        <div id="form-error"></div>
        <input type="text" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <button type="submit">Login</button>
    </form>
</main>

<script src="js/vendor/sha.js"></script>
{{ end }}
