{{ define "title" }}You can't register Now &bull; Upframe{{ end }}
{{ define "content" }}
<main role="main">
    <div class="floating-box">
        <h1>Register</h1>
        <p>Unfortunately, {{ .Data.FirstName }} {{ .Data.LastName }} doesn't have more invitations available.</p>
    </div>
</main>
{{ end }}
