{{ define "title" }}Register &bull; Upframe{{ end }}
{{ define "content" }}
<main role="main" class="covered">
    <div class="floating-box">
        <h1>Register</h1>
        <p>Registration is only available by invitation. Talk with your friends and see if one of them have one!</p>
    </div>
</main>
{{ end }}
