{{ define "title" }}Settings &bull; Upframe{{ end }}
{{ define "content" }}
<main role="main" id="settings-page" class="floating-box covered">
    <h1>Settings</h1>

    <div id="form-error"></div>

    {{ with .Data.User }}
    <form id="settings">
        <input name="ID" id="ID" type="number" value="{{ .ID }}">

        <label for="FirstName">First Name</label>
        <input name="FirstName" id="FirstName" type="text" value="{{ .FirstName }}">

        <label for="LastName">Last Name</label>
        <input name="LastName" id="LastName" type="text" value="{{ .LastName }}">

        <label for="Email">Email</label>
        <input name="Email" id="Email" type="text" value="{{ .Email }}">

        <label for="Address">Address</label>
        <textarea name="Address" id="Address">{{ if .Address.Valid }}{{ .Address.String }}{{ end }}</textarea>

        <button type="submit">Update</button> <button id="deactivate">Deactivate my account</button>
    </form>
    {{ end }}


</main>
{{ end }}
