{{ define "title" }}Store &bull; Upframe{{ end }}
{{ define "content" }}
<main role="main" id="store">
    <h1>Store</h1>

    <div>
    {{ range $product := .Data }}
    <article class="product" data-id="{{ $product.ID }}">
        <h2>{{ $product.Name }}</h2>
        <button class="btnBuy">Add to cart</button>
        <img src="{{ $product.Picture }}">
        <p>{{ $product.Description }}</p>
        <p>{{ $product.Price }}€</p>
    </article>
    {{ end }}
</div>
</main>
{{ end }}
