---
layout: default
---

<header class="container">
    <img id="logo" src="/assets/images/logo.svg">
</header>

<div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam venenatis odio ut magna convallis, in facilisis nibh porta. Aliquam et nulla eget lorem efficitur consectetur a quis diam. Quisque scelerisque nec ligula faucibus fringilla. Sed at sem nunc. In rhoncus libero dui, ut viverra odio vehicula ac. Ut non tempor nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eu sodales ex. Donec nec turpis metus. Nullam venenatis ante vel magna tristique, ac porttitor ligula laoreet. Donec at tincidunt ligula, quis feugiat sem. Vivamus fringilla pharetra leo, sit amet placerat nisl mattis at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer mi nisl, aliquet ac quam ullamcorper, ultricies interdum ipsum.</p>
</div>

<div class="team container">
    <div>
        <img src="/assets/images/malik.jpg">
        <div>
            <p>Malik Piara</p>
            <p>Co-founder</p>
        </div>
    </div>
    <div>
        <img src="/assets/images/henrique.jpg">
        <div>
            <p>Henrique Dias</p>
            <p>Full Stack Developer</p>
        </div>
    </div>
    <div>
        <img src="/assets/images/fabio.jpg">
        <div>
            <p>Fábio Ferreira</p>
            <p>Full Stack Developer</p>
        </div>
    </div>
    <div>
        <img src="/assets/images/joao.jpg">
        <div>
            <p>João Araújo</p>
            <p>Designer</p>
        </div>
    </div>
</div>

<div id="newsletter">
    <form class="container" action="https://xyz.us14.list-manage.com/subscribe/post?u=4316f2d3b3faec44c0fc2e6f9&amp;id=5940afbe13" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4316f2d3b3faec44c0fc2e6f9_5940afbe13" tabindex="-1" value=""></div>

        <div>
            <input type="text" placeholder="First Name" name="FNAME" class="" id="mce-FNAME">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
</div>
