{{- $len := len .Params.Authors -}}
{{- $multiple := gt $len 1 -}}

{{- if $multiple -}}
  {{ $authors := .Site.Data.authors }}

  <div class='author multiple'>
    {{ range .Params.Authors }}
      {{ if isset $authors . }}
        <img src='{{ (index $authors .).photo }}'>
      {{ end }}
    {{ end }}
  </div>

  <span>by
    {{ range $i, $author := .Params.Authors }}
      <strong>{{ (index $authors $author).first_name }}</strong>
      {{- if lt $i (sub $len 2)}}, {{ end -}}
      {{- if eq $i (sub $len 2)}} & {{ end -}}
    {{ end }}
  </span>
{{- else -}}
  {{ $author := index .Site.Data.authors (index .Params.Authors 0)}}

  <div class='author'>
    <img src='{{ $author.photo }}'>
  </div>
  <span>by <strong>{{ $author.first_name }} {{ $author.last_name }}</strong></span>
{{- end -}}
