<footer>
    <div>{{ template "_internal/disqus.html" . }}</div>
    <div class="nextprev">
        <div>
            {{ if .PrevInSection }}
            <a href="{{ .PrevInSection.Permalink  }}">
                <h4>Previous Post</h4>
                <span>{{ .PrevInSection.Title }}</span>
            </a>
            {{ end }}
        </div>
        <div>
            {{ if .NextInSection }}
            <a href="{{ .NextInSection.Permalink  }}">
                <h4>Next Post</h4>
                <span>{{ .NextInSection.Title }}</span>
            </a>
            {{ end }}
        </div>
    </div>
</footer>