<header>
    {{ if isset .Params "image" -}}
    <div id="banner">
        <img src="{{ .Params.image | absURL }}">
        <div></div>
    </div>
    {{- end }}

    <div class='container'>
        <h1>{{ .Title }}</h1>
        {{ if eq .Type "post" -}}

        {{ partial "article/authors" . }}

        <span>on <time datetime="{{ .Date.Format " 2006-01-02 " }}">{{ .Date.Format "January 2, 2006" }}</time></span>
        {{- end }}
    </div>
</header>
{{ if eq .Type "post" -}}
<span id="read-progress"></span>
{{- end }}

{{ if isset .Params "subtitle" -}}
<p>{{.Params.subtitle}}</p>
{{- end -}}