<div id="mentors-container">
    {{ range $mentor := .Site.Data.mentors }}
    <div class="mentor" id="{{ $mentor.Slug }}">
        <img src="/img/mentors/{{ safeHTMLAttr $mentor.Slug }}.jpg" srcset="/img/mentors/2x/{{ safeHTMLAttr $mentor.Slug }}.jpg 2x, /img/mentors/3x/{{ safeHTMLAttr $mentor.Slug }}.jpg 3x">
        <h2 class="name">{{ $mentor.Name }}</h2>
        <p class="line">{{ $mentor.Role }} @ {{ $mentor.Job }}</p>
        <div class="description"><p>
            {{- (partial (printf "mentors/%s" $mentor.Description)) | markdownify -}}</p>
        </div>
        <p class="role">{{ $mentor.Role }}</p>
        <p class="job">{{ $mentor.Job }}</p>
    </div>
    {{ end }}
</div>

<div class="overlay"></div>
<div class="mentor-popup">
    <div>
        <div><img src="/img/mentors/placeholder.jpg"></div>
    </div>
    <div id="mentor-about">
        <p class="name">Name</p>
        <p class="role">Role</p>

        <div class="description"></div>

        <p class="worksat">Works at <span class="job">Somewhere</span></p><br>
    </div>
    <a><img class="close-icon" src="/img/symbols/cross-blue.svg"></a>
</div>
