* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body>main {
    max-width: 1300px;
    width: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body>main {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}


/* NAVIGATION BAR */

body>nav {
    background-color: #00e5d4;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    color: #fff;
}

body>nav ul {
    padding: 0;
    margin: auto;
    list-style: none;
    display: flex;
}

body>nav>ul {
    background-color: #00e5d4;
    width: 95%;
    max-width: 1300px;
    align-items: center;
}

body>nav>ul>li:last-of-type {
    margin-left: auto;
    position: relative;
}

body>nav>ul>li:last-of-type label {
    cursor: pointer;
}

body>nav a {
    text-decoration: none;
    display: block;
    padding: 0;
    color: white;
    line-height: 1;
    margin: 2em 1.25em;
    transition: .2s ease-in all;
}

body>nav>ul>li:first-child a {
    margin-left: 0;
}

body>nav>ul>li a:hover {
    color: #121952;
}

body>nav>ul>li img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}

body>nav>ul>li span {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

body>nav input {
    display: none;
}

body>nav li>ul::before {
    top: -16px;
    right: 9px;
    left: auto;
    border: 8px solid transparent;
    border-bottom-color: rgb(0, 229, 212);
    content: '';
    position: absolute;
}

body>nav li>ul {
    background-color: #00e5d4;
    transition: color .2s ease-in-out, background-color .2s ease-in-out, all.2s ease-in-out;
    font-size: 1.2em;
    opacity: 0;
    visibility: hidden;
    height: auto;
    display: none;
    position: absolute;
    right: 0;
    top: 5.3em;
    text-align: left;
    font-size: .9em;
    width: auto;
    white-space: nowrap;
    border-radius: .2em;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    max-height: 0;
}

body>nav input[type="checkbox"]:checked+ul {
    visibility: visible;
    opacity: 1;
    max-height: 150px;
}

body>nav li>ul>li {
    padding: .3em .7em;
}

body>nav li>ul>li:first-child {
    border-bottom: 1px solid;
    font-weight: bold;
}

body>nav li>ul li a {
    margin: .2em;
}


/* ARROW DOWN */

.arrow-down {
    position: relative;
    display: inline-block;
}

.arrow-down:before {
    top: 0;
    left: 0;
    border: solid transparent;
    content: " ";
    /* height: 0; */
    /* width: 0; */
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #121952;
    border-width: 14px;
}


/* FORMS */

#form-error {
    background-color: #FF3855;
    margin-bottom: 1em;
    padding: 0;
    color: #fff;
    border-radius: 2px;
    height: 0;
    transition: .2s ease height;
}

#form-error.error,
#form-error.success,
#form-error.warning {
    height: auto;
    padding: .4em;
}

#form-error.success {
    background-color: #00E5D4;
}

#form-error.warning {
    background-color: #E3FD31;
    color: #272727;
}

#single-form,
div#register-message,
form#login,
form#register {
    max-width: 350px;
    width: 90%;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 4em;
    background: #fff;
}

#single-form h1,
div#register-message h1,
form#login h1,
form#register h1 {
    margin-top: 0;
    text-align: center;
}

#single-form input,
form#login input,
form#register input {
    width: 100%;
    display: block;
    border: 3px solid #e6e6e6;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 2px;
}

#single-form button,
form#login button,
form#register button {
    display: block;
    background-color: #4e4e4e;
    color: #fff;
    border-radius: 2px;
    border: 0;
    margin: 0 auto;
    padding: .7em 2em;
    cursor: pointer;
}

#single-form label {
    margin-bottom: .5em;
    display: block;
    font-weight: bold;
}

#single-form input[type="checkbox"] {
    display: inline-block;
    width: 1em;
    border: 0;
    padding: 0;
    border-radius: 0;
}

#single-form input[type="checkbox"]~label {
    width: calc(100% - 2em);
    display: inline-block;
}

input#ID {
    display: none;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* BACK END */

.btnEdit {
    cursor: pointer;
    border: 0;
    background: none;
}

.btnAdd {
    border-radius: 6.125%;
    border: 1px solid #49A34B;
    background: #1EBE39;
}

.backend > #table-toolbar > ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 100%;
    height: 100%;
}

.backend > #table-toolbar > ul li {
    display: inline-block;
    float: right;
}

.backend > #table-toolbar > ul li:first-of-type {
    float: left;
}

.container table {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.container thead tr:first-child {
    font-weight: 900;
    background: #EEEEEE;
}

.container thead tr:last-child {
    background: #fff;
}

.container tr.highlight {
    background-color: #fff19d !important;
}

.container tr:nth-of-type(odd) {
    background: #f9f9f9;
}

.container td,
.container th {
    padding: 1em .5em;
    text-align: left;
}

.container td:first-child,
.container th:first-child {
    max-width: 60px;
}

#editable-row td {
    padding: 0;
}

#editable-row input {
    padding: 1em .5em;
    display: block;
    width: 100%;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#editable-row input[type="checkbox"] {
    width: auto;
}

#single-form {
    background-color: #fff;
    transition: .5s ease-in-out all;
    position: fixed;
    bottom: -50%;
    right: 0;
    padding: 0;
    margin: 0;
}

#single-form h1 {
    padding: .67em;
    background-color: #FF3855;
    color: #fff;
    margin: 0;
    font-size: 1.25em;
}

#single-form>div {
    padding: .5em 1.5em 1.5em;
    overflow-y: auto;
    display: block;
    max-height: 80vh;
}

#single-form button {}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    1% {
        z-index: 1000;
    }
    100% {
        opacity: 1;
        z-index: 1000;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        z-index: 1000;
    }
    99% {
        z-index: 1000;
    }
    100% {
        opacity: 0;
        z-index: -1000;
    }
}

.slideUp {
    animation: slideUp .3s forwards 0s ease-in-out 1;
}

.slideDown {
    animation: slideDown .3s forwards 0s ease-in-out 1;
}


@keyframes slideUp {
    0% {
        bottom: -50%;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes slideDown {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: -50%;
    }
}


/* STORE */

#store>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    flex-basis: 30%;
}

.product img {
    width: 100%;
    height: 15em;
    object-fit: cover;
}


/* footer */

body>footer p {
    text-align: center;
    color: #ccc;
    font-size: .9em;
}
