* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

body > main {
    max-width: 95%;
    margin: 0 auto;
}

#site-nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: #fff;
}

#site-nav > ul {
    padding: 0;
    list-style: none;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-content: center;
}

#site-nav li {
    display: inline-block;
    vertical-align: middle;
}

#site-nav > ul > li:last-child {
    margin-left: auto;
}

#site-nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 2em 0.5em;
}

#site-nav > ul >li > ul {
    position: absolute;
    width: auto;
}

#site-nav li ul li {
    display: block;
}

#site-nav img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

#form-error {
    background-color: #FF3855;
    margin-bottom: 1em;
    padding: 0;
    color: #fff;
    border-radius: 2px;
    height: 0;
    transition: .2s ease height;
}

#form-error.error,
#form-error.success,
#form-error.warning {
    height: auto;
    padding: .4em;
}

#form-error.success {
    background-color: #00E5D4;
}

#form-error.warning {
    background-color: #E3FD31;
    color: #272727;
}

#single-form,
div#register-message,
form#login,
form#register {
    max-width: 350px;
    width: 90%;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 4em;
    background: #fff;
}

#single-form h1,
div#register-message h1,
form#login h1,
form#register h1 {
    margin-top: 0;
    text-align: center;
}

#single-form input,
form#login input,
form#register input {
    width: 100%;
    display: block;
    border: 3px solid #e6e6e6;
    padding: .5em;
    margin-bottom: 1em;
    border-radius: 2px;
}

#single-form button,
form#login button,
form#register button {
    display: block;
    background-color: #4e4e4e;
    color: #fff;
    border-radius: 2px;
    border: 0;
    margin: 0 auto;
    padding: .7em 2em;
}

#single-form label {
    margin-bottom: .5em;
    display: block;
    font-weight: bold;
}

#single-form input[type="checkbox"] {
    display: inline-block;
    width: 1em;
    border: 0;
    padding: 0;
    border-radius: 0;
}

#single-form input[type="checkbox"]~label {
    width: calc(100% - 2em);
    display: inline-block;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* BACK END */

.container {
    width: 95%;
    margin: 0 auto;
}

.container table {
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.container thead tr:first-child {
    font-weight: 900;
    background: #EEEEEE;
}

.container thead tr:last-child {
    background: #fff;
}

.container tr {}

.container tr:nth-of-type(odd) {
    background: #f9f9f9;
}

.container td,
.container th {
    padding: 1em .5em;
    text-align: left;
}

.container td:first-child,
.container th:first-child {
    max-width: 60px;
}

#editable-row td {
    padding: 0;
}

#editable-row input {
    padding: 1em .5em;
    display: block;
    width: 100%;
    margin: 0;
    border: 0;
    background-color: transparent;
}

#editable-row input[type="checkbox"] {
    width: auto;
}

#single-form {
    background-color: #fff;
    transition: .5s ease-in-out all;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    padding: 0;
    margin: 0;
}

#single-form h1 {
    padding: .67em;
    background-color: #FF3855;
    color: #fff;
    margin: 0;
    font-size: 1.25em;
}

#single-form div {
    padding: 1.5em;
    overflow-y: auto;
    display: block;
    max-height: 80vh;
}

#single-form button {}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* STORE */
#store > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    flex-basis: 30%;
}

.product img {
    width: 100%;
    height: 15em;
    object-fit: cover;
}

/* footer */
body > footer p {
    text-align: center;
    color: #ccc;
    font-size: .9em;
}
